<header>
    <div class="user">
        <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/chefs/chef (3).jpg" alt="">
        <h3 class="name">Ahmad Ghan</h3>
        <p class="post">Capten Chef</p>
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="#home">home</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#portfolio">portfolio</a></li>
            <li><a href="#contact">contact</a></li>
        </ul>
    </nav>
</header>