<section id="hero" class="d-flex align-items-center">
    <div class="container  ">
        <div class="row">
            <div class="col-lg-12">
                <h1 style="font-size: 6rem;     font-family: 'Noto serif','serif';">Event</h1>
                <div class="line">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <p class="returnhome"><a href="/HighCrest"
                        style="text-decoration: none; font-size: 3.1rem; color: #ffa600ea;" class="returnh ">Home >>
                    </a>Events
                </p>
            </div>

        </div>
    </div>
</section>