<section class="event">
    <div class="leftBox">
        <div class="content">
            <h1>Event And Live Music</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ut inventore eos cum illo quae officiis
                quidem
                expe est impedit mollitia ea? Quam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum,
                fugit
                ab debitis quia aliquam aut repellendus vero, nisi nemo itaque, eum ipsam iure quidem possimus? Beatae
                architecto eum voluptas Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae labore eos, quasi
                voluptatem explicabo reiciendis. Velit magni voluptate impedit laboriosam atque voluptatum odio, minima
                neque,
                exercitationem nobis consequuntur? Nemo, iure? accusantium.</p>
        </div>
    </div>
    <div class="live-music">
        <ul>
            <li>
                <div class="time">
                    <h2>24 <br><span>Nov</span></h2>
                </div>
                <div class="details">
                    <h3>Live Music 1</h3>
                    <p>Lorem ipsum dolo etur, t amet consectetur adipisicing elit. Vitae labore eos, quasi voluptatem
                        explicabo
                        reiciendis. Velit magni voluptate impedit laboriosam atque voluptatum odio, minima neque,
                        exercitationem
                        nobis consequuntur? Nemo, iure? accusantium.</p>
                    <a href=""> More</a>
                </div>
                <div class="" style="clear: both;"></div>
            </li>
            <li>
                <div class="time">
                    <h2>27<br><span>Nov</span></h2>
                </div>
                <div class="details">
                    <h3>Live Music 2</h3>
                    <p>Lorem ipsum dolo etur, t amet consectetur adipisicing elit. Vitae labore eos, quasi voluptatem
                        explicabo
                        reiciendis. Velit magni voluptate impedit laboriosam atque voluptatum odio, minima neque,
                        exercitationem
                        nobis consequuntur? Nemo, iure? accusantium.</p>
                    <a href=""> More</a>
                </div>
                <div class="" style="clear: both;"></div>
            </li>
            <li>
                <div class="time">
                    <h2>28 <br><span>Nov</span></h2>
                </div>
                <div class="details">
                    <h3>Live Music 3</h3>
                    <p>Lorem ipsum dolo etur, t amet consectetur adipisicing elit. Vitae labore eos, quasi voluptatem
                        explicabo
                        reiciendis. Velit magni voluptate impedit laboriosam atque voluptatum odio, minima neque,
                        exercitationem
                        nobis consequuntur? Nemo, iure? accusantium.</p>
                    <a href=""> More</a>
                </div>
                <div class="" style="clear: both;"></div>
            </li>
        </ul>
    </div>
</section>