<section class="seminar">
    <h6>Upcaming Seminar</h6>
    <div class="event">
        <div class="header--text">
        </div>
        <div class="event--section">
            <div class="event--content">
                <div class="event--img">
                    <img src="https://upload.wikimedia.org/wikipedia/en/9/95/Dominic_Meily%2C_Street_Photography_seminar.jpg"
                        alt="event photo">
                </div>
                <div class="content--text">
                    <div class="event--menu">
                        <h4> 19 Nov </h4>
                        <ul class="event--detail">
                            <li> <i class="fa fa-clock-o" aria-hidden="true"></i> <span> 12.00PM - 12.30PM </span></li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i><span> HighCrest </span></li>
                        </ul>
                    </div>
                    <div class="event--text">
                        <h4> Love YourSelfe </h4>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Perferendis, hic ullam, dicta eaque perspiciatis minima officiis
                        </p>
                    </div>
                    <div class="btn">
                        <a href="#"> View Details </a>
                    </div>
                </div>
            </div>
            <div class="event--content">
                <div class="event--img">
                    <img src="https://images.unsplash.com/photo-1575029644286-efb9039cac46?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHNlbWluYXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80"
                        alt="event photo">
                </div>
                <div class="content--text">
                    <div class="event--menu">
                        <h4> 20 Nov </h4>
                        <ul class="event--detail">
                            <li> <i class="fa fa-clock-o" aria-hidden="true"></i> <span> 2.00PM - 2.30PM </span></li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i><span> HighCrest</span></li>
                        </ul>
                    </div>
                    <div class="event--text">
                        <h4> Motivating Student </h4>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Perferendis, hic ullam, dicta eaque perspiciatis minima officiis
                        </p>
                    </div>
                    <div class="btn">
                        <a href="#"> View Details </a>
                    </div>
                </div>
            </div>
            <div class="event--content">
                <div class="event--img">
                    <img src="https://images.unsplash.com/photo-1575029644286-efb9039cac46?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHNlbWluYXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80"
                        alt="event photo">
                </div>
                <div class="content--text">
                    <div class="event--menu">
                        <h4> 22 Nov </h4>
                        <ul class="event--detail">
                            <li> <i class="fa fa-clock-o" aria-hidden="true"></i> <span> 2.00PM - 2.30PM </span></li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i><span> HighCrest</span></li>
                        </ul>
                    </div>
                    <div class="event--text">
                        <h4> Motivating Young </h4>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Perferendis, hic ullam, dicta eaque perspiciatis minima officiis
                        </p>
                    </div>
                    <div class="btn">
                        <a href="#"> View Details </a>
                    </div>
                </div>
            </div>
            <div class="event--content">
                <div class="event--img">
                    <img src="https://images.unsplash.com/photo-1575029644286-efb9039cac46?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHNlbWluYXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80"
                        alt="event photo">
                </div>
                <div class="content--text">
                    <div class="event--menu">
                        <h4> 25 Nov </h4>
                        <ul class="event--detail">
                            <li> <i class="fa fa-clock-o" aria-hidden="true"></i> <span> 2.00PM - 2.30PM </span></li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i><span> HighCrest</span></li>
                        </ul>
                    </div>
                    <div class="event--text">
                        <h4> Charity </h4>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Perferendis, hic ullam, dicta eaque perspiciatis minima officiis
                        </p>
                    </div>
                    <div class="btn">
                        <a href="#"> View Details </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>