<section class="Galery">
    <h6>Events</h6>
    <section class="image-gallery">

        <div class="image-box">
            <img src="https://d1zpvjny0s6omk.cloudfront.net/media/fileupload/2017/09/22/Bakti-Kavoukjian-Jessica%20Claire%20Photography-balloroom.jpg"
                alt="img.jpg" />
            <div class="image-gallery-details">
                <div class="details">
                    <h3 class="title">
                        <a href="#" style="font-size: 3.1rem;">Weddings</a>
                    </h3>
                    <span class="type">
                        <a href="#" style="font-size: 2.1rem;">Events</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="https://cfcdn-fc.mineralreportstoday.com/wp-content/uploads/sites/53/2021/04/Pullman-Bangkok-Kingpower-Hybrid-Meeting-1920.jpg"
                alt="img.jpg" />
            <div class="image-gallery-details">
                <div class="details">
                    <h3 class="title">
                        <a href="#" style="font-size: 3.1rem;">conference</a>
                    </h3>
                    <span class="type">
                        <a href="#" style="font-size: 2.1rem;">Events</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="https://traveljee.com/wp-content/uploads/2019/11/prague-marriott-hotel-new-year-decorations1.jpg"
                alt="img.jpg" />
            <div class="image-gallery-details">
                <div class="details">
                    <h3 class="title">
                        <a href="#" style="font-size: 3.1rem;">New Years</a>
                    </h3>
                    <span class="type">
                        <a href="#" style="font-size: 2.1rem;">Events</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/0e/ce/02/ff/live-music-at-the-corner.jpg"
                alt="img.jpg" />
            <div class="image-gallery-details">
                <div class="details">
                    <h3 class="title">
                        <a href="#" style="font-size: 3.1rem;">Live Music</a>
                    </h3>
                    <span class="type">
                        <a href="#" style="font-size: 2.1rem;">Events</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="https://www.todaysparent.com/wp-content/uploads/2017/09/fun-ways-to-teach-kids-to-tell-time-1280x960.jpg"
                alt="img.jpg" />
            <div class="image-gallery-details">
                <div class="details">
                    <h3 class="title">
                        <a href="# " style="font-size: 3.1rem;">Child Time</a>
                    </h3>
                    <span class="type">
                        <a href="#" style="font-size: 2.1rem;">Events</a>
                    </span>
                </div>
            </div>
        </div>

        <div class="image-box">
            <img src="http://www.punchbowl.com/gridfs/fs/4f5f62591a349e14700007cf-1331651163" alt="img.jpg" />
            <div class="image-gallery-details">
                <div class="details">
                    <h3 class="title">
                        <a href="# " style="font-size: 3.1rem;">Charity</a>
                    </h3>
                    <span class="type">
                        <a href="#" style="font-size: 2.1rem;">Events</a>
                    </span>
                </div>
            </div>
        </div>

        <div class="image-box">
            <img src="https://images.squarespace-cdn.com/content/v1/56a2785c69a91af45e06a188/1477942884411-LKP0Y83RJH7M6SX2R1ID/AdobeStock_113497184.jpeg?format=1500w"
                alt="img.jpg" />
            <div class="image-gallery-details">
                <div class="details">
                    <h3 class="title">
                        <a href="# " style="font-size: 3.1rem;">Resutrant </a>
                    </h3>
                    <span class="type">
                        <a href="#" style="font-size: 2.1rem;">Events</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="https://www.yorkhotel.com.sg/uploads/9/8/1/8/98182264/accomplishment-celebrate-ceremony-267885_orig.jpg"
                alt="img.jpg" />
            <div class="image-gallery-details">
                <div class="details">
                    <h3 class="title">
                        <a href="# " style="font-size: 3.1rem;">Graduation</a>
                    </h3>
                    <span class="type">
                        <a href="#" style="font-size: 2.1rem;">Events</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="https://evergreengroup.in/wp-content/uploads/2017/07/Arya-Gurukul-School-Annual-Day-14-1024x516.jpg"
                alt="img.jpg" />
            <div class="image-gallery-details">
                <div class="details">
                    <h3 class="title">
                        <a href="# " style="font-size: 3.1rem;">School</a>
                    </h3>
                    <span class="type">
                        <a href="#" style="font-size: 2.1rem;">Events</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="https://www.thebalancesmb.com/thmb/hsCwQVP8CcIvRAfKCMLiq8LTDNI=/1116x837/smart/filters:no_upscale()/GettyImages-530685909-56a2b3725f9b58b7d0cd87c6.jpg"
                alt="img.jpg" />
            <div class="image-gallery-details">
                <div class="details">
                    <h3 class="title">
                        <a href="# " style="font-size: 3.1rem;">Seminar</a>
                    </h3>
                    <span class="type">
                        <a href="#" style="font-size: 2.1rem;">Events</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="https://images.squarespace-cdn.com/content/v1/5aadc54285ede1bd72181a3a/1521392755297-Q04UOI02AXZ167LQXA0O/Omega+Events+Concert+Promotion.jpg"
                alt="img.jpg" />
            <div class="image-gallery-details">
                <div class="details">
                    <h3 class="title">
                        <a href="# " style="font-size: 3.1rem;">Concert</a>
                    </h3>
                    <span class="type">
                        <a href="#" style="font-size: 2.1rem;">Events</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="https://www.sixteen-nine.net/wp-content/uploads/2021/08/umusic-biloxi.jpeg" alt="img.jpg" />
            <div class="image-gallery-details">
                <div class="details">
                    <h3 class="title">
                        <a href="# " style="font-size: 3.1rem;">Concert</a>
                    </h3>
                    <span class="type">
                        <a href="#" style="font-size: 2.1rem;">Events</a>
                    </span>
                </div>
            </div>
        </div>
    </section>
</section>