<div class="home-section" id="home">
    <div class="home-bg"></div>
    <div class="container">
        <div class="row min-vh-100 align-items-center">
            <div class="home-text">
                <div class="findHotel">FIND QROOM IN <span class="typing"></span></div>
                <h3 class="welcome">WELCOME THE <span class="qroom">QROOM</span> </h3>
            </div>
        </div>
        <!-- Start Form For check  -->
        <div class="book" data-aos="zoom-in-up">
            <form class="book-form">
                <div class="contaner">
                    <input type="date">

                </div>
            </form>
        </div>
        <!-- End Form For check  -->
    </div>
</div>