<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chefs Profile</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="../../../CSS/HighCrest_CSS/Portfolio/style.css">
    <!-- ama icon bakrhenawa ka la search bar neshan dadret -->
    <link rel="icon" href="../../../All Images/HighCrest_Images/Portfolio/image/profile.png">
</head>

<body>

    <!-- header section starts  -->
    <header>
        <div class="user">
            <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/chefs/chef (3).jpg" alt="">
            <h3 class="name">Ahmad Ghan</h3>
            <p class="post">Capten Chef</p>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="/HighCrest">home</a></li>
                <li><a href="#about">about</a></li>
                <li><a href="#portfolio">portfolio</a></li>
                <li><a href="#contact">contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- header section ends -->

    <!-- Portfolio Start -->
    <div id="menu" class="fas fa-bars"></div>
    <!-- home section starts  -->
    <section class="home" id="home">
        <h3>HI THERE !</h3>
        <h1>I'M <span>shaikh anas</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio deserunt aspernatur fugiat minus enim ullam repudiandae sint sed magnam tenetur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, at.
        </p>
        <a href="#about"><button class="btn">about me <i class="fas fa-user"></i></button></a>
    </section>
    <!-- home section ends -->

    <!-- about section starts  -->
    <section class="about" id="about">
        <h1 class="heading"> <span>about</span> me </h1>
        <div class="row">
            <div class="info">
                <h3> <span> name : </span> Ahmad Ghan </h3>
                <h3> <span> age : </span> 20 </h3>
                <h3> <span> post : </span> Capten Chef </h3>
                <h3> <span> language : </span> English , Franch </h3>
            </div>
            <div class="counter">
                <div class="box">
                    <span>2+</span>
                    <h3>years of experience</h3>
                </div>
                <div class="box">
                    <span>100+</span>
                    <h3>Different Food are learn</h3>
                </div>
                <div class="box">
                    <span>2+</span>
                    <h3>Certificate</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- about section ends -->

    <!-- portfolio section starts  -->
    <section class="portfolio" id="portfolio">
        <h1 class="heading"> My <span>Food</span> </h1>
        <div class="box-container">
            <div class="box">
                <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (13).jpg " alt="">
            </div>
            <div class="box">
                <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (1).jpg" alt="">
            </div>
            <div class="box">
                <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (4).jpg " alt="">
            </div>
            <div class="box">
                <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (3).jpg" alt="">
            </div>
            <div class="box">
                <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (10).jpg" alt="">
            </div>
            <div class="box">
                <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (7).jpg" alt="">
            </div>
        </div>
    </section>
    <!-- Portfolio Section Ends -->

    <!-- Contact Section Starts  -->
    <section class="contact" id="contact">
        <h1 class="heading"> <span>Contact</span> Me </h1>
        <div class="row">
            <div class="content">
                <h3 class="title">Contact Inforamtion</h3>
                <div class="info">
                    <h3> <i class="fas fa-envelope"></i> Ahmad@gmail.com </h3>
                    <h3> <i class="fas fa-phone"></i> +123 4567890 </h3>
                    <h3> <i class="fas fa-phone"></i> +111 2223333 </h3>
                    <h3> <i class="fas fa-map-marker-alt"></i> Kurdistan, Slemani - HighCrest . </h3>
                </div>
            </div>
            <form action="">
                <input type="text" placeholder="name" class="box">
                <input type="email" placeholder="email" class="box">
                <input type="text" placeholder="project" class="box">
                <textarea name="" id="" cols="30" rows="10" class="box message" placeholder="message"></textarea>
                <button type="submit" class="btn"> send <i class="fas fa-paper-plane"></i> </button>
            </form>
        </div>
    </section>
    <!-- Contact Section Ends -->

    <!-- Scroll Top Button  -->
    <!-- <a href="#home" class="top"><img src="../../All Images/HighCrest_Images/Portfolio/image/profile.png" alt=""></a> -->

    <!-- Portfolio End -->

    <!-- Scripts -->
    <!-- jquery cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- custom js file link  -->
    <script src="../../../javaScript/HighCrest_Scripts/Portfolio/script.js"></script>
</body>

</html>