<% if(Image==null||Image=="" ||Image==[]||Image=={}||Image.email!=ProfileInfo.Email||!Logger.SignIn){ %>
    <div id="nav__login-btn" class="fas fa-user"></div>
    <% }else if(Logger.SignIn){ %>
        <div id="nav__login-btn"><img width="50px" height="50px"
                src="data:<%=Image.contentType%>;base64,<%=Image.imageBase64 %> " alt="ProfileImage">
        </div>
        <% } %>

            <% if(Logger.SignOut){%>
                <form action="" class="login-form">
                    <h3>Login form</h3>
                    <a href="/Login" class="nav__btn">Login Now</a>
                    <h3>Register form</h3>
                    <a href="/Signup" class="nav__btn">Register Now</a>
                </form>
                <%}else{%>
                    <form action="" class="login-form">
                        <h3>Login form</h3>
                        <a href="/Profile" class="nav__btn">Profile</a>
                        <h3>Register form</h3>
                        <a href="/Logout" class="nav__btn">Logout Now</a>
                    </form>
                    <% } %>