<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../CSS/HighCrest_CSS/Navigation/Navigation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <header class="header">
        <a href="home.html" class="logo"> <i class="fas fa-concierge-bell"></i> HighCrest </a>
        <nav class="navbar" id="navbar">
            <a href="home.html">HOME</a>
            <a href="Roomall/Roomall.html">ROOMS</a>
            <a href="Blog/Index.html">BLOG</a>
            <a href="Resturant/mainResturant.html">RESTURANT</a>
            <a href="About/index.html">ABOUT</a>
            <a href="events/page.html">EVENTS</a>
            <a href="contact/index.html">CONTACT</a>
            <!-- <button class="btn-booking">BOOK NOW</button> -->
        </nav>
        <div class="center-box-booking">
            <i class="fas fa-bars bars_mardinn" id="bars"></i>
            <input type="checkbox" id="show">
            <label for="show" class="show-btn">Book Now</label>
            <div class="container">
                <label for="show" class="close-btn fas fa-times"></label>
                <div class="text">Booking </div>
                <form action="">
                    <div class="data">
                        <label for="">Check-In-Date</label>
                        <input type="text" placeholder="10/10/2021">
                    </div>
                    <div class="data">
                        <label for="">Check-Out-Date</label>
                        <input type="text" placeholder="20/10/2021">
                    </div>
                    <div class="btn">
                        <div class="inner">
                            <button><a href="Roomall/Roomall.html" style="color: white;">Available</a></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <script src="../../../javaScript/HighCrest_Scripts/Navigation/Navigation.js"></script>
</body>

</html>