<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>

<body style="background-color:gainsboro;text-align: center; position: relative;">
    <h2 style="background-position: center; "> Logging Out <br>
    </h2>
    <span style="font-size: 18px;"><br><br> Returning in 3 2 1...</span>

    <script>
        setTimeout(() => {
            window.location = "/Home";
        }, 2000);
    </script>
</body>

</html>