<section class="hero" id="hero">
    <div class="container">
        <h2 class="sub-headline">
            <span class="first-letter">W</span>elcome
        </h2>
        <h1 class="headline">The HighCrest </h1>
        <div class="headline-description">
            <div class="separator">
                <div class="line line-left"></div>
                <div class="astera"><i class="fas fa-asterisk"></i></div>
                <div class="line line-right"></div>
            </div>
            <div class="single-animation">
                <h5><a href="../homePage.html">Home >></a> ABOUT</h5>
            </div>
        </div>
    </div>
</section>


<section class="discover-our-story">
    <div class="container">
        <div class="resturant-info">
            <div class="resturant-description padding-right animate-left">
                <div class="global-headline">
                    <h2 class="sub-headline">
                        <span class="first-letter">D</span>iscover
                    </h2>
                    <h1 class="headline headline-dark">Our Story </h1>
                    <div class="astera"><i class="fas fa-asterisk"></i></div>

                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quisquam aut neque
                    suscipit
                    voluptates unde. Voluptatem voluptas inventore vero aliquam et, cumque, quidem sed,
                    animi
                    tempora facilis voluptates expedita commodi!

                </p>
                <a href="" class="btn body-btn">Our Story</a>
            </div>
            <div class="resturant-info-img animate-right">
                <img src="../All Images/HighCrest_Images/About/image/story.jpg" alt="">
            </div>
        </div>
    </div>
</section>


<section class="tastful-recipes between">
    <div class="container">
        <div class="global-headline">
            <div class="animate-top">
                <h2 class="sub-headline">
                    <span class="first-letter">T</span>astful
                </h2>
            </div>
            <div class="animate-bottom">
                <h1 class="headline headline-dark">Recipes </h1>
            </div>
        </div>
    </div>
</section>

<div class="discover-our-menu">
    <div class="container">
        <div class="resturant-info">
            <div class="image-group padding-right animate-left">
                <img src="../All Images/HighCrest_Images/About/image/group1.jpg" alt="">
                <img src="../All Images/HighCrest_Images/About/image/group3.jpg" alt="">
                <img src="../All Images/HighCrest_Images/About/image/group.jpg" alt="">
                <img src="../All Images/HighCrest_Images/About/image/group4.jpg" alt="">

            </div>
            <div class="resturant-description animate-right">
                <div class="global-headline">
                    <h2 class="sub-headline">
                        <span class="first-letter">D</span>iscover
                    </h2>
                    <h1 class="headline headline-dark">Gallery </h1>
                    <div class="astera"><i class="fas fa-asterisk"></i></div>

                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero nemo accusamus facilis a
                    excepturi
                    minima rerum voluptas. Voluptatem impedit commodi tempore, eveniet neque illum saepe ut
                    ullam,
                    natus officia quidem.

                </p>
                <a href="" class="btn body-btn">View</a>
            </div>
        </div>
    </div>
</div>