<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- ama icon bakrhenawa ka la search bar neshan dadret -->
    <link rel="icon" href="../HighCrest_Assets/Resturant_Assets/Assets/img/image search bar .png">
    <title>Resturant</title>
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="../assets/vendor/venobox/venobox.css" rel="stylesheet">

    <link href="../HighCrest_Assets/Resturant_Assets/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../HighCrest_Assets/Resturant_Assets/Assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../HighCrest_Assets/Resturant_Assets/Assets/vendor/owl.carousel/assets/owl.carousel.min.css"
        rel="stylesheet">
    <link href="../HighCrest_Assets/Resturant_Assets/Assets/vendor/aos/aos.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="../HighCrest_Assets/Resturant_Assets/Assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/HighCrest_CSS/Resturant/nav.css">
</head>