<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-12">
                <h1>Resturant</h1>
                <p class="returnhome"><a href="/HighCrest">Home >> </a>Resturant</p>
            </div>

        </div>
    </div>
</section>