<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/about.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3><br>
                <p class="font-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore
                    magna aliqua.
                </p><br>
                <ul>
                    <li><i class="fas fa-check-circle"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Architecto, fuga</li>
                    <li><i class="fas fa-check-circle"></i> Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Atque,
                        facilis.</li>
                    <li><i class="fas fa-check-circle"></i> Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Totam
                        maxime inventore ad quos accusamus, officiis similique molestias a exercitationem quibusdam?
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>