<section id="events" class="events">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Events</h2>
            <p>Organize Your Events HOTEL</p>
        </div>
        <div class="owl-carousel events-carousel" data-aos="fade-up" data-aos-delay="100">
            <div class="row event-item">
                <div class="col-lg-6">
                    <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/birth.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Birthday Parties</h3>
                    <div class="price">
                        <p><span>$299</span></p>
                    </div>
                    <p class="font-italic">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et
                        dolore
                        magna aliqua.
                    </p>
                    <ul>
                        <li><i class="fas fa-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </li>
                        <li><i class="fas fa-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate
                            velit.
                        </li>
                        <li><i class="fas fa-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem reiciendis similique eos
                        corporis,
                        nam
                        dicta eligendi adipisci cum voluptatum nostrum.
                    </p>
                </div>
            </div>
            <div class="row event-item">
                <div class="col-lg-6">
                    <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/consert.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Private Parties</h3>
                    <div class="price">
                        <p><span>$290</span></p>
                    </div>
                    <p class="font-italic">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ratione hic voluptatem harum
                        impedit
                        a laboriosam molestias placeat, dolore minus.
                    </p>
                    <ul>
                        <li><i class="fas fa-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </li>
                        <li><i class="fas fa-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate
                            velit.
                        </li>
                        <li><i class="fas fa-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem officiis modi repudiandae
                        repellat
                        voluptate, rem assumenda deleniti labore vel molestiae!
                    </p>
                </div>
            </div>
            <div class="row event-item">
                <div class="col-lg-6">
                    <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/birthday.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>Custom Parties</h3>
                    <div class="price">
                        <p><span>$99</span></p>
                    </div>
                    <p class="font-italic">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero dolorum ipsum ipsa, ab error
                        animi
                        exercitationem incidunt minima unde dolor.
                    </p>
                    <ul>
                        <li><i class="fas fa-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </li>
                        <li><i class="fas fa-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate
                            velit.
                        </li>
                        <li><i class="fas fa-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, hic. A voluptate vitae,
                        eius
                        laborum eos quisquam. Recusandae, voluptatem quos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>