<section id="gallery" class="gallery">
    <div class="container" data-aos="fade-up">
        <div class="section-title-meal">
            <h2>Gallery</h2>
            <p>Some photos from HOTEL</p>
        </div>
    </div>
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (1).jpg" class="venobox"
                        data-gall="gallery-item">
                        <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (1).jpg" alt=""
                            class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (2).jpg" class="venobox"
                        data-gall="gallery-item">
                        <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (2).jpg" alt=""
                            class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (3).jpg" class="venobox"
                        data-gall="gallery-item">
                        <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (3).jpg" alt=""
                            class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (4).jpg" class="venobox"
                        data-gall="gallery-item">
                        <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (4).jpg" alt=""
                            class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (5).jpg" class="venobox"
                        data-gall="gallery-item">
                        <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (5).jpg" alt=""
                            class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (6).jpg" class="venobox"
                        data-gall="gallery-item">
                        <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (6).jpg" alt=""
                            class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (7).jpg" class="venobox"
                        data-gall="gallery-item">
                        <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (7).jpg" alt=""
                            class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (8).jpg" class="venobox"
                        data-gall="gallery-item">
                        <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (8).jpg" alt=""
                            class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>