<section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">
        <div class="section-title-meal  ">
            <h2>Chefs</h2>
            <p>Proffesional Chefs</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                    <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/chefs/chef (1).jpg" class="img-fluid"
                        alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Ahmad Ghan</h4>
                            <span>Capten Chef</span>
                        </div>
                        <div class="social">
                            <a href="../portfolio website/index.html" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="../portfolio website/index.html" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="../portfolio website/index.html" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                            <a href="../portfolio website/index.html" target="_blank"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="200">
                    <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/chefs/chef (2).jpg" class="img-fluid"
                        alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Jutyar Hiwa</h4>
                            <span>Chef</span>
                        </div>
                        <div class="social">
                            <a href="../portfolio website/index.html" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="../portfolio website/index.html" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="../portfolio website/index.html" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                            <a href="../portfolio website/index.html" target="_blank"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="300">
                    <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/chefs/chef (3).jpg" class="img-fluid"
                        alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>Edris Adam</h4>
                            <span>Cook</span>
                        </div>
                        <div class="social">
                            <a href="../portfolio website/index.html" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="../portfolio website/index.html" target="_blank"><i
                                    class="fab fa-facebook"></i></a>
                            <a href="../portfolio website/index.html" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="../portfolio website/index.html" target="_blank"><i
                                    class="fab fa-linkedin-in  "></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>