<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>REVIEW</h2>
            <p>What are they saying about the Hotel's restaurant </p>
        </div>
        <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="100">
            <div class="testimonial-item">
                <p>
                    <i class="fas fa-quote-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                    Accusantium
                    quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="fas fa-quote-right quote-icon-right"></i>
                </p>
                <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/testimonials/people1.jpg"
                    class="testimonial-img" alt="">
                <h3>Muhammad Ali</h3>
                <h4>Designer</h4>
            </div>
            <div class="testimonial-item">
                <p>
                    <i class="fas fa-quote-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                    quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="fas fa-quote-right quote-icon-right"></i>
                </p>
                <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/testimonials/people2.jpg"
                    class="testimonial-img" alt="">
                <h3>Yassin Abdula</h3>
                <h4>Designer</h4>
            </div>
            <div class="testimonial-item">
                <p>
                    <i class="fas fa-quote-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim
                    tempor
                    labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="fas fa-quote-right quote-icon-right"></i>
                </p>
                <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/testimonials/people3.jpg"
                    class="testimonial-img" alt="">
                <h3>Rovar Kamil Karlis</h3>
                <h4>FullStack</h4>
            </div>
            <div class="testimonial-item">
                <p>
                    <i class="fas fa-quote-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit
                    minim
                    dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="fas fa-quote-right quote-icon-right"></i>
                </p>
                <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/testimonials/people4.jpg"
                    class="testimonial-img" alt="">
                <h3>Avan Jalil</h3>
                <h4>Dr.</h4>
            </div>
            <div class="testimonial-item">
                <p>
                    <i class="fas fa-quote-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim
                    culpa
                    labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="fas fa-quote-right quote-icon-right"></i>
                </p>
                <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/testimonials/people5.jpg"
                    class="testimonial-img" alt="">
                <h3>Hanaw Muhamad</h3>
                <h4>Graphic Desinger</h4>
            </div>
        </div>
    </div>
</section>