<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Special Menu</h2>
            <p>Check Our Menu</p>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="menu-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-burger">Burger</li>
                    <li data-filter=".filter-salads">Salads</li>
                    <li data-filter=".filter-coffee">Coffee</li>
                    <li data-filter=".filter-veg">Vegetable</li>
                    <li data-filter=".filter-pizza">Pizza</li>
                    <li data-filter=".filter-pasta">Pasta</li>
                </ul>
            </div>
        </div>
        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-6 menu-item filter-pizza">
                <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (1).jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Yoli Pizza</a><span>$5.95</span>
                </div>
                <div class="menu-ingredients">
                    Lorem, deren, trataro, filede, nerada
                </div>
            </div>
            <div class="col-lg-6 menu-item filter-coffee">
                <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (5).jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Coffe</a><span>$6.95</span>
                </div>
                <div class="menu-ingredients">
                    Lorem, deren, trataro, filede, nerada
                </div>
            </div>
            <div class="col-lg-6 menu-item filter-pizza">
                <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (3).jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Pizza</a><span>$7.95</span>
                </div>
                <div class="menu-ingredients">
                    A delicate crab cake served on a toasted roll with lettuce and tartar sauce
                </div>
            </div>
            <div class="col-lg-6 menu-item filter-burger">
                <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (4).jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Burger</a><span>$8.95</span>
                </div>
                <div class="menu-ingredients">
                    Lorem, deren, trataro, filede, nerada
                </div>
            </div>
            <div class="col-lg-6 menu-item filter-coffee">
                <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (5).jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Coffe Hot</a><span>$9.95</span>
                </div>
                <div class="menu-ingredients">
                    Grilled chicken with provolone, artichoke hearts, and roasted red pesto
                </div>
            </div>
            <div class="col-lg-6 menu-item filter-pasta">
                <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (7).jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Pasta Hio</a><span>$4.95</span>
                </div>
                <div class="menu-ingredients">
                    Lorem, deren, trataro, filede, nerada
                </div>
            </div>
            <div class="col-lg-6 menu-item filter-pasta">
                <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (6).jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Pasta</a><span>$9.95</span>
                </div>
                <div class="menu-ingredients">
                    Fresh spinach, crisp romaine, tomatoes, and Greek olives
                </div>
            </div>
            <div class="col-lg-6 menu-item filter-burger">
                <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (4).jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Spaid Burger</a><span>$9.95</span>
                </div>
                <div class="menu-ingredients">
                    Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
                </div>
            </div>
            <div class="col-lg-6 menu-item filter-salads">
                <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (9).jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Salads</a><span>$12.95</span>
                </div>
                <div class="menu-ingredients">
                    Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                </div>
            </div>
            <div class="col-lg-6 menu-item filter-salads">
                <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (10).jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Salads</a><span>$12.95</span>
                </div>
                <div class="menu-ingredients">
                    Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                </div>
            </div>
            <div class="col-lg-6 menu-item filter-veg">
                <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (11).jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Salads</a><span>$12.95</span>
                </div>
                <div class="menu-ingredients">
                    Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                </div>
            </div>
            <div class="col-lg-6 menu-item filter-salads">
                <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (12).jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Salads</a><span>$12.95</span>
                </div>
                <div class="menu-ingredients">
                    Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                </div>
            </div>
            <div class="col-lg-6 menu-item filter-pizza">
                <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (13).jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Pizza</a><span>$12.95</span>
                </div>
                <div class="menu-ingredients">
                    Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                </div>
            </div>
        </div>
    </div>
</section>