<div class="rang__container">
    <!-- Stars Start -->
    <div class="t" style=" padding: 1px; background-color:rgba(255, 157, 0, 0.698);"></div>
    <div class="stra">
        <div class="star__container">
            <div class="star-widget">
                <input type="radio" name="rate" id="rate-5">
                <label for="rate-5" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-4">
                <label for="rate-4" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-3">
                <label for="rate-3" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-2">
                <label for="rate-2" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-1">
                <label for="rate-1" class="fas fa-star"></label>
            </div>
        </div>
    </div>
    <!-- Stars End  -->
    <div class="t" style=" padding: 2px; background-color:rgba(255, 157, 0, 0.698);"></div>
    <!-- price -->
    <div class="price">
        <div class="price-range-block">
            <div id="slider-range" class="price-filter-range" name="rangeInput"></div>
            <div style="margin:22px 0px 0px 22px">
            </div>
        </div>
    </div>
    <!-- end of price ====================================== -->
    <div class="t" style=" padding: 2px; background-color: rgba(255, 157, 0, 0.698);"></div>
    <div class="test">
        <label for="" style="font-family: 'Courgette', cursive;font-weight: bolder;">From</label>
        <input type="number" min=0 max="30" oninput="validity.valid||(value='30');" id="min_price"
            class="price-range-field" />
        <label for="" style="font-family: 'Courgette', cursive; font-weight: bolder;">To</label>
        <input type="number" min=0 max="1000" oninput="validity.valid||(value='1000');" starid="max_price"
            class="price-range-field" />
    </div>
    <div class="t" style=" padding: 2px; background-color: rgba(255, 157, 0, 0.698);"></div>
</div>
<div class="search__content__resulte">