<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BLOG</title>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="../../../CSS/HighCrest_CSS/Blog/css/all.css">
    <!-- ama icon bakrhenawa ka la search bar neshan dadret -->
    <link rel="icon" href="../../../All Images/HighCrest_Images/About/image/image search bar .png">
    <!-- --------- Owl-Carousel ------------------->
    <link rel="stylesheet" href="../../../CSS/HighCrest_CSS/Blog/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../../CSS/HighCrest_CSS/Blog/css/owl.theme.default.min.css">
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- ------------ AOS Library ------------------------- -->
    <link rel="stylesheet" href="../../../CSS/HighCrest_CSS/Blog/css/aos.css">
    <!-- Custom Style   -->
    <link rel="stylesheet" href="../../../CSS/HighCrest_CSS/Blog/css/Style.css">
    <link rel="stylesheet" href="../../../CSS/HighCrest_CSS/Navigation/Navigation.css">
    <link rel="stylesheet" href="../../../CSS/HighCrest_CSS/Navigation/model.css">
</head>

<body>
    <!-- ----------------------------  Header ---------------------------------------------- -->
    <%- include("../../../partials/HighCrestPartials/MainPartials/Header.ejs") %>
        <!-- ------------x---------------  Header --------------------------x------------------- -->

        <!----------------------------- Main Site Section ------------------------------>
        <main>
            <!------------------------ Site Title ---------------------->
            <section class="site-title">
                <div class="site-background" data-aos="fade-up" data-aos-delay="100">
                    <h3>BLOG</h3>
                    <p class="clickPage"><a href="/HighCrest" class="clickPage">HOME >> </a>BLOG</p>
                </div>
            </section>
            <!------------x----------- Site Title ----------x----------->
            <!-- ---------------------- Site Content -------------------------->
            <section class="container">
                <div class="site-content">
                    <div class="posts">
                        <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                            <div class="post-image">
                                <div>
                                    <img src="https://images.pexels.com/photos/1583884/pexels-photo-1583884.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;office</span>
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                        2022</span>
                                    <span><i class="fas fa-comments"></i>2</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">Hotel June’s Upcoming Artist in Residence</a>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a nobis, voluptate, numquam architecto fugit.
                                    Eligendi quidem ipsam ducimus minus magni illum similique veniam tempore unde?
                                </p>
                                <button class="btn post-btn">Read More &nbsp; <i
                                        class="fas fa-arrow-right"></i></button>
                            </div>
                        </div>
                        <div class="border-bott"></div>
                        <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                            <div class="post-image">
                                <div>
                                    <img src="https://images.pexels.com/photos/209449/pexels-photo-209449.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;office</span>
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 16,
                                        2022</span>
                                    <span><i class="fas fa-comments"></i>7</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">Cottonwood Cove established Resort & Marina</a>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a nobis, voluptate, numquam architecto fugit.
                                    Eligendi quidem ipsam ducimus minus magni illum similique veniam tempore unde?
                                </p>
                                <button class="btn post-btn">Read More &nbsp; <i
                                        class="fas fa-arrow-right"></i></button>
                            </div>
                        </div>
                        <div class="border-bott"></div>
                        <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                            <div class="post-image">
                                <div>
                                    <img src="https://images.pexels.com/photos/2736388/pexels-photo-2736388.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;office</span>
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 19,
                                        2022</span>
                                    <span><i class="fas fa-comments"></i>5</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">Benefits of Having Online Registration at Your Hotel</a>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a nobis, voluptate, numquam architecto fugit.
                                    Eligendi quidem ipsam ducimus minus magni illum similique veniam tempore unde?
                                </p>
                                <button class="btn post-btn">Read More &nbsp; <i
                                        class="fas fa-arrow-right"></i></button>
                            </div>
                        </div>
                        <div class="border-bott"></div>
                        <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                            <div class="post-image">
                                <div>
                                    <img src="https://images.pexels.com/photos/276663/pexels-photo-276663.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;office</span>
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 21,
                                        2022</span>
                                    <span><i class="fas fa-comments"></i>12</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">Headwaters at Eagle Ranch Resort</a>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a nobis, voluptate, numquam architecto fugit.
                                    Eligendi quidem ipsam ducimus minus magni illum similique veniam tempore unde?
                                </p>
                                <button class="btn post-btn">Read More &nbsp; <i
                                        class="fas fa-arrow-right"></i></button>
                            </div>
                        </div>
                        <div class="border-bott"></div>
                        <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                            <div class="post-image">
                                <div>
                                    <img src="https://images.pexels.com/photos/57980/pexels-photo-57980.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;office</span>
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 21,
                                        2022</span>
                                    <span><i class="fas fa-comments"></i>12</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">Headwaters at Eagle Ranch Resort</a>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a nobis, voluptate, numquam architecto fugit.
                                    Eligendi quidem ipsam ducimus minus magni illum similique veniam tempore unde?
                                </p>
                                <button class="btn post-btn">Read More &nbsp; <i
                                        class="fas fa-arrow-right"></i></button>
                            </div>
                        </div>
                        <div class="border-bott"></div>
                        <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                            <div class="post-image">
                                <div>
                                    <img src="https://images.pexels.com/photos/1387174/pexels-photo-1387174.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img" alt="blog1">
                                </div>
                                <div class="post-info flex-row">
                                    <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;office</span>
                                    <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 21,
                                        2022</span>
                                    <span><i class="fas fa-comments"></i>12</span>
                                </div>
                            </div>
                            <div class="post-title">
                                <a href="#">Headwaters at Eagle Ranch Resort</a>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas deserunt beatae adipisci iusto totam placeat corrupti ipsum, tempora magnam incidunt aperiam tenetur a nobis, voluptate, numquam architecto fugit.
                                    Eligendi quidem ipsam ducimus minus magni illum similique veniam tempore unde?
                                </p>
                                <button class="btn post-btn">Read More &nbsp; <i
                                        class="fas fa-arrow-right"></i></button>
                            </div>
                        </div>
                        <div class="pagination flex-row">
                            <a href="#"><i class="fas fa-chevron-left"></i></a>
                            <a href="#" class="pages">1</a>
                            <a href="#" class="pages">2</a>
                            <a href="#" class="pages">3</a>
                            <a href="#" class="pages">4</a>
                            <a href="#" class="pages">5</a>
                            <a href="#"><i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <aside class="sidebar">
                        <div class="category">
                            <h2 style="font-size: 2.6rem;">Category</h2>
                            <ul class="category-list">
                                <li class="list-items" data-aos="fade-left" data-aos-delay="100">
                                    <a href="#">Food</a>
                                    <span>(10)</span>
                                </li>
                                <li class="list-items" data-aos="fade-left" data-aos-delay="200">
                                    <a href="#">Cottonwood</a>
                                    <span>(02)</span>
                                </li>
                                <li class="list-items" data-aos="fade-left" data-aos-delay="300">
                                    <a href="#">Lifestyle</a>
                                    <span>(07)</span>
                                </li>
                                <li class="list-items" data-aos="fade-left" data-aos-delay="400">
                                    <a href="#">Hotel</a>
                                    <span>(01)</span>
                                </li>
                                <li class="list-items" data-aos="fade-left" data-aos-delay="500">
                                    <a href="#">Food</a>
                                    <span>(01)</span>
                                </li>
                            </ul>
                        </div>
                        <div class="popular-post">
                            <h2>Popular Post</h2>
                            <div class="post-content" data-aos="flip-up" data-aos-delay="200">
                                <div class="post-image">
                                    <div>
                                        <img src="https://images.pexels.com/photos/5794163/pexels-photo-5794163.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                            2022</span>
                                        <span><i class="fas fa-comments"></i>2</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="#">New data recording system to better analyse road accidents</a>
                                </div>
                            </div>
                            <div class="post-content" data-aos="flip-up" data-aos-delay="300">
                                <div class="post-image">
                                    <div>
                                        <img src="https://images.pexels.com/photos/6802983/pexels-photo-6802983.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                            2022</span>
                                        <span><i class="fas fa-comments"></i>2</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="#">New data recording system to better analyse road accidents</a>
                                </div>
                            </div>
                            <div class="post-content" data-aos="flip-up" data-aos-delay="300">
                                <div class="post-image">
                                    <div>
                                        <img src="https://images.pexels.com/photos/8962523/pexels-photo-8962523.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                            2022</span>
                                        <span><i class="fas fa-comments"></i>2</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="#">New data recording system to better analyse road accidents</a>
                                </div>
                            </div>
                            <div class="post-content" data-aos="flip-up" data-aos-delay="400">
                                <div class="post-image">
                                    <div>
                                        <img src="https://images.pexels.com/photos/7034390/pexels-photo-7034390.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January
                                            14,2022</span>
                                        <span><i class="fas fa-comments"></i>5</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="#">New data recording system to better analyse road accidents</a>
                                </div>
                            </div>
                            <div class="post-content" data-aos="flip-up" data-aos-delay="500">
                                <div class="post-image">
                                    <div>
                                        <img src="https://images.pexels.com/photos/1457842/pexels-photo-1457842.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                            2022</span>
                                        <span><i class="fas fa-comments"></i>4</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="#">New data recording system to better analyse road accidents</a>
                                </div>
                            </div>
                            <div class="post-content" data-aos="flip-up" data-aos-delay="600">
                                <div class="post-image">
                                    <div>
                                        <img src="https://images.pexels.com/photos/811572/pexels-photo-811572.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                            2022</span>
                                        <span><i class="fas fa-comments"></i>1</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="#">New data recording system to better analyse road accidents</a>
                                </div>
                            </div>
                            <div class="post-content" data-aos="flip-up" data-aos-delay="600">
                                <div class="post-image">
                                    <div>
                                        <img src="https://images.pexels.com/photos/7820379/pexels-photo-7820379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                            2022</span>
                                        <span><i class="fas fa-comments"></i>1</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="#">New data recording system to better analyse road accidents</a>
                                </div>
                            </div>
                            <div class="post-content" data-aos="flip-up" data-aos-delay="600">
                                <div class="post-image">
                                    <div>
                                        <img src="https://images.pexels.com/photos/2696064/pexels-photo-2696064.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                            2022</span>
                                        <span><i class="fas fa-comments"></i>1</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="#">New data recording system to better analyse road accidents</a>
                                </div>
                            </div>
                            <div class="post-content" data-aos="flip-up" data-aos-delay="600">
                                <div class="post-image">
                                    <div>
                                        <img src="https://images.pexels.com/photos/3771110/pexels-photo-3771110.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                            2022</span>
                                        <span><i class="fas fa-comments"></i>1</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="#">New data recording system to better analyse road accidents</a>
                                </div>
                            </div>
                        </div>
                        <div class="newsletter" data-aos="fade-up" data-aos-delay="300">
                            <h2 style="font-size: 2.8rem;">Newsletter</h2>
                            <div class="form-element">
                                <input type="text" class="input-element" placeholder="Email">
                                <button class="btn form-btn">Subscribe</button>
                            </div>
                        </div>
                        <div class="popular-tags">
                            <h2 style="font-size:2.8rem ;">Popular Tags</h2>
                            <div class="tags flex-row">
                                <span class="tag" data-aos="flip-up" data-aos-delay="100">Blog</span>
                                <span class="tag" data-aos="flip-up" data-aos-delay="200">Technology</span>
                                <span class="tag" data-aos="flip-up" data-aos-delay="300">Travel</span>
                                <span class="tag" data-aos="flip-up" data-aos-delay="400">Descript</span>
                                <span class="tag" data-aos="flip-up" data-aos-delay="500">Design</span>
                                <span class="tag" data-aos="flip-up" data-aos-delay="600">Lifestyle</span>
                                <span class="tag" data-aos="flip-up" data-aos-delay="700">Love</span>
                                <span class="tag" data-aos="flip-up" data-aos-delay="800">Project</span>
                            </div>
                        </div>
                    </aside>
                </div>
            </section>
            <!-- -----------x---------- Site Content -------------x------------>
        </main>
        <!---------------x------------- Main Site Section ---------------x-------------->

        <!-- Footer Section Starts  -->
        <%- include("../../../partials/HighCrestPartials/MainPartials/Footer.ejs") %>
            <!-- Footer Section Ends -->

            <!-- Scripts -->
            <!-- Jquery Library file -->
            <script src="../javaScript/HighCrest_Scripts/Blog/js/Jquery3.4.1.min.js"></script>
            <!-- --------- Owl-Carousel js ------------------->
            <script src="../javaScript/HighCrest_Scripts/Blog/js/owl.carousel.min.js"></script>
            <!-- ------------ AOS js Library  ------------------------- -->
            <script src="../javaScript/HighCrest_Scripts/Blog/js/aos.js"></script>
            <!-- Custom Javascript file -->
            <script src="../javaScript/HighCrest_Scripts/Blog/js/main.js"></script>
            <!-- Navigation Scripts -->
            <script src="../javaScript/HighCrest_Scripts/Navigation/Navigation.js"></script>
</body>

</html>