<section class="about-us" id="about-us">
    <div class="section-header">
        <h1 class="section-heading" data-aos="fade-right" data-aos-duration="1000">Hotel Service</h1>
        <div class="underline"></div>
    </div>
    <div class="services">
        <div class="service">
            <div class="service-header">
                <i class="fas fa-concierge-bell" data-aos="fade-down-right" data-aos-duration="1000"></i>
                <h3 class="h3-about" data-aos="fade-down-right" data-aos-duration="1000">Services</h3>
            </div>
            <p class="service-text" data-aos="fade-down-right" data-aos-duration="1000">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Doloremque, officia! Necessitatibus delectus sed dicta corrupti
                voluptatibus, omnis eius vel ab magni nemo, incidunt esse! Quod!
            </p>
        </div>
        <div class="service">
            <div class="service-header">
                <i class="fas fa-address-card" data-aos="fade-down-right" data-aos-duration="1000"></i>
                <h3 class="h3-about" data-aos="fade-down-right" data-aos-duration="1000">Payment</h3>
            </div>
            <p class="service-text" data-aos="fade-down-right" data-aos-duration="1000">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Doloremque, officia! Necessitatibus delectus sed dicta corrupti
                voluptatibus, omnis eius vel ab magni nemo, incidunt esse! Quod!
            </p>
        </div>
        <div class="service">
            <div class="service-header">
                <i class="fas fa-bed" data-aos="fade-down-right" data-aos-duration="1000"></i>
                <h3 class="h3-about" data-aos="fade-down-right" data-aos-duration="1000">Beds</h3>
            </div>
            <p class="service-text" data-aos="fade-down-right" data-aos-duration="1000">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Doloremque, officia! Necessitatibus delectus sed dicta corrupti
                voluptatibus, omnis eius vel ab magni nemo, incidunt esse! Quod!
            </p>
        </div>
        <div class="service">
            <div class="service-header">
                <i class="fas fa-search-location" data-aos="fade-down-left" data-aos-duration="1000"></i>
                <h3 class="h3-about" data-aos="fade-down-left" data-aos-duration="1000">Location</h3>
            </div>
            <p class="service-text" data-aos="fade-down-left" data-aos-duration="1000">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Doloremque, officia! Necessitatibus delectus sed dicta corrupti
                voluptatibus, omnis eius vel ab magni nemo, incidunt esse! Quod!
            </p>
        </div>
        <div class="service">
            <div class="service-header">
                <i class="fas fa-tags" data-aos="fade-down-left" data-aos-duration="1000"></i>
                <h3 class="h3-about" data-aos="fade-down-left" data-aos-duration="1000">Discount</h3>
            </div>
            <p class="service-text" data-aos="fade-down-left" data-aos-duration="1000">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Doloremque, officia! Necessitatibus delectus sed dicta corrupti
                voluptatibus, omnis eius vel ab magni nemo, incidunt esse! Quod!
            </p>
        </div>
        <div class="service">
            <div class="service-header">
                <i class="fas fa-wifi" data-aos="fade-down-left" data-aos-duration="1000"></i>
                <h3 class="h3-about" data-aos="fade-down-left" data-aos-duration="1000">Extra</h3>
            </div>
            <p class="service-text" data-aos="fade-down-left" data-aos-duration="1000">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Doloremque, officia! Necessitatibus delectus sed dicta corrupti
                voluptatibus, omnis eius vel ab magni nemo, incidunt esse! Quod!
            </p>
        </div>
        <div class="about-us-img-wrapper" data-aos="fade-down" data-aos-duration="1000">
            <img
                src="https://images.squarespace-cdn.com/content/v1/5ea0614a23978f42dee12261/1627428753077-LLE29FJ66ZNQQF9ITFLE/clermont_illo_02.png?format=1000w">
        </div>
    </div>
</section>