<section class="about" id="about">
    <h1 class="about-hotel" data-aos="fade-right" data-aos-duration="1000"><span data-aos="fade-right"
            data-aos-duration="1000">About </span>Hotel</h1>
    <div class="row">
        <div class="image">
            <video src="All Images/Main_Images/images/video-about.mp4" muted controls width="640rem" height="420rem"
                poster="All Images/Main_Images/images/play.jpg">
            </video>
        </div>
        <div class="content">
            <h3 class="h3-content-about" data-aos="fade-right" data-aos-duration="800">We can know about us & see all
                the
                activity</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. facilis culpa possimus, quia praesentium
                itaque,
                sapiente quasi harum rem asperiores.</p>
            <p><i class="fas fa-arrow-circle-right icon-content"></i> Work <i
                    class="fas fa-briefcase icon-content-space"></i></p>
            <p><i class="fas fa-arrow-circle-right icon-content"></i> Price <i
                    class="fas fa-dollar-sign icon-content-space"></i></p>
            <p><i class="fas fa-arrow-circle-right icon-content"></i> Service <i
                    class="fas fa-concierge-bell icon-content-space"></i></i></p>
            <p><i class="fas fa-arrow-circle-right icon-content"></i> Activity <i
                    class="fas fa-history icon-content-space"></i></p>
            <a href="/Contact" class="btn-about">CONTACT US</a>
        </div>
    </div>
</section>