</section>

<section class="brand" id="brand">
    <div class="slider">
        <div class="slider-track">

            <div class="slide">
                <img src="All Images/Main_Images/images/1brand.png" alt="">
            </div>

            <div class="slide">
                <img src="All Images/Main_Images/images/2brand.png" alt="">
            </div>

            <div class="slide">
                <img src="All Images/Main_Images/images/3brand.png" alt="">
            </div>

            <div class="slide">
                <img src="All Images/Main_Images/images/4brand.png" alt="">
            </div>

            <div class="slide">
                <img src="All Images/Main_Images/images/5brand.png" alt="">
            </div>

            <div class="slide">
                <img src="All Images/Main_Images/images/1brand.png" alt="">
            </div>

            <div class="slide">
                <img src="All Images/Main_Images/images/2brand.png" alt="">
            </div>

            <div class="slide">
                <img src="All Images/Main_Images/images/3brand.png" alt="">
            </div>

            <div class="slide">
                <img src="All Images/Main_Images/images/4brand.png" alt="">
            </div>

            <div class="slide">
                <img src="All Images/Main_Images/images/5brand.png" alt="">
            </div>

        </div>
    </div>
</section>