<section class="contact" id="contact">
    <div class="container-contact">
        <div class="form-contact">
            <div class="contact-info">
                <h3 class="title" style="text-align: center;">Let's get in touch</h3>
                <div class="info-contact">
                    <div class="information-contact">
                        <img src="All Images/Main_Images/images/location.png" width="25%" class="icon-contact" alt="" />
                        <p>92 Cherry Drive Uniondale, NY 11553</p>
                    </div>
                    <div class="information-contact">
                        <img src="All Images/Main_Images/images/email.png" width="15%" class="icon-contact" alt="" />
                        <p>lorem@ipsum.com</p>
                    </div>
                    <div class="information-contact">
                        <img src="All Images/Main_Images/images/logo.png" width="15%" class="icon-contact" alt="" />
                        <p>123-456-789</p>
                    </div>
                </div>

                <div class="social-media-contact">
                    <p>Connect with us : </p>
                    <div class="social-icons-contact">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>

                </div>
            </div>

            <div class="contact-mapp">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d51931.8596199573!2d45.41317114478643!3d35.56009264744845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40002bf67a19c56f%3A0x3749910ae2db2f66!2sMillennium%20Kurdistan%20Hotel%20and%20Spa!5e0!3m2!1sen!2siq!4v1632832127260!5m2!1sen!2siq"
                    width="350rem" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="contact-form-us">
                <span class="circle-contact one"></span>
                <span class="circle-contact two"></span>

                <form action="" autocomplete="off">
                    <h3 class="title-contact-us">Contact us</h3>
                    <div class="input-container-contact">
                        <input type="text" name="name" class="input" placeholder="User Name" />
                    </div>
                    <div class="input-container-contact">
                        <input type="email" name="email" class="input" placeholder="Email" />
                    </div>
                    <div class="input-container-contact">
                        <input type="tel" name="phone" class="input" placeholder="Phone Number " />
                    </div>
                    <div class="input-container-contact  textarea">
                        <textarea name="message" class="input" placeholder="Write Message ..."></textarea>
                    </div>
                    <input type="submit" value="Send" class="btn-contact" />
                </form>

            </div>
        </div>
    </div>
</section>