<section class="gallery" id="gallery">
    <h1 class="heading" data-aos="fade-right" data-aos-duration="1000"> Event& <span>Gallery</span>
    </h1>
    <div class="contaner">
        <div class="box">
            <div class="imgbox-gallery">
                <img src=" https://cdn.pixabay.com/photo/2014/09/05/15/07/restaurant-436407__340.jpg" alt="">
            </div>
            <div class="deatils">
                <div class="content">
                    <h2>Weddings</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, officia repudiandae neque
                        culpa
                        ipsam
                        deserunt saepe corporis suscipit, sint facere reprehenderit, molestias nulla. Perferendis
                        dignissimos
                        dicta incidunt omnis doloremque repellendus.</p>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="imgbox-gallery">
                <img src=" https://cdn.pixabay.com/photo/2018/04/30/06/10/table-3361858__340.jpg " alt="">
            </div>
            <div class="deatils">
                <div class="content">
                    <h2>Weddings</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, officia repudiandae neque
                        culpa
                        ipsam
                        deserunt saepe corporis suscipit, sint facere reprehenderit, molestias nulla. Perferendis
                        dignissimos
                        dicta incidunt omnis doloremque repellendus.</p>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="imgbox-gallery">
                <img src=" https://cdn.pixabay.com/photo/2019/02/22/21/56/hotels-4014509__340.jpg   " alt="">
            </div>
            <div class="deatils">
                <div class="content">
                    <h2>Weddings</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, officia repudiandae neque
                        culpa
                        ipsam
                        deserunt saepe corporis suscipit, sint facere reprehenderit, molestias nulla. Perferendis
                        dignissimos
                        dicta incidunt omnis doloremque repellendus.</p>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="imgbox-gallery">
                <img src=" https://cdn.pixabay.com/photo/2016/03/27/20/54/wedding-reception-1284245__340.jpg " alt="">
            </div>
            <div class="deatils">
                <div class="content">
                    <h2>Weddings</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, officia repudiandae neque
                        culpa
                        ipsam
                        deserunt saepe corporis suscipit, sint facere reprehenderit, molestias nulla. Perferendis
                        dignissimos
                        dicta incidunt omnis doloremque repellendus.</p>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="imgbox-gallery">
                <img src="  https://cdn.pixabay.com/photo/2016/10/16/10/30/office-space-1744803__340.jpg " alt="">
            </div>
            <div class="deatils">
                <div class="content">
                    <h2>Meeting Room</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, officia repudiandae neque
                        culpa
                        ipsam
                        deserunt saepe corporis suscipit, sint facere reprehenderit, molestias nulla. Perferendis
                        dignissimos
                        dicta incidunt omnis doloremque repellendus.</p>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="imgbox-gallery">
                <img src=" https://cdn.pixabay.com/photo/2017/03/28/12/06/chairs-2181919__340.jpg " alt="">
            </div>
            <div class="deatils">
                <div class="content">
                    <h2>Meeting Room</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, officia repudiandae neque
                        culpa
                        ipsam
                        deserunt saepe corporis suscipit, sint facere reprehenderit, molestias nulla. Perferendis
                        dignissimos
                        dicta incidunt omnis doloremque repellendus.</p>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="imgbox-gallery">
                <img src="  https://cdn.pixabay.com/photo/2017/03/28/12/10/chairs-2181951__340.jpg  " alt="">
            </div>
            <div class="deatils">
                <div class="content">
                    <h2>Meeting Room</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, officia repudiandae neque
                        culpa
                        ipsam
                        deserunt saepe corporis suscipit, sint facere reprehenderit, molestias nulla. Perferendis
                        dignissimos
                        dicta incidunt omnis doloremque repellendus.</p>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="imgbox-gallery">
                <img src="   https://cdn.pixabay.com/photo/2017/03/28/12/11/chairs-2181960__340.jpg " alt="">
            </div>
            <div class="deatils">
                <div class="content">
                    <h2>Meeting Room</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, officia repudiandae neque
                        culpa
                        ipsam
                        deserunt saepe corporis suscipit, sint facere reprehenderit, molestias nulla. Perferendis
                        dignissimos
                        dicta incidunt omnis doloremque repellendus.</p>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="imgbox-gallery">
                <img src=" https://i.pinimg.com/564x/fb/69/4e/fb694ed4ae24afe117d030af3866d484.jpg" alt="">
            </div>
            <div class="deatils">
                <div class="content">
                    <h2>New Years</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, officia repudiandae neque
                        culpa
                        ipsam
                        deserunt saepe corporis suscipit, sint facere reprehenderit, molestias nulla. Perferendis
                        dignissimos
                        dicta incidunt omnis doloremque repellendus.</p>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="imgbox-gallery">
                <img src="    https://cdn.pixabay.com/photo/2014/09/26/05/56/fireworks-461750__340.jpg" alt="">
            </div>
            <div class="deatils">
                <div class="content">
                    <h2>New Years</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, officia repudiandae neque
                        culpa
                        ipsam
                        deserunt saepe corporis suscipit, sint facere reprehenderit, molestias nulla. Perferendis
                        dignissimos
                        dicta incidunt omnis doloremque repellendus.</p>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="imgbox-gallery">
                <img src=" https://cdn.pixabay.com/photo/2020/11/17/15/44/cup-5752775__340.jpg " alt="">
            </div>
            <div class="deatils">
                <div class="content">
                    <h2>New Years</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, officia repudiandae neque
                        culpa
                        ipsam
                        deserunt saepe corporis suscipit, sint facere reprehenderit, molestias nulla. Perferendis
                        dignissimos
                        dicta incidunt omnis doloremque repellendus.</p>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="imgbox-gallery">
                <img src="   https://cdn.pixabay.com/photo/2019/12/10/19/39/new-years-eve-4686668__340.jpg  " alt="">
            </div>
            <div class="deatils">
                <div class="content">
                    <h2>New Years</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, officia repudiandae neque
                        culpa
                        ipsam
                        deserunt saepe corporis suscipit, sint facere reprehenderit, molestias nulla. Perferendis
                        dignissimos
                        dicta incidunt omnis doloremque repellendus.</p>
                </div>
            </div>
        </div>
    </div>
</section>