<footer class="footer" id="c-contact">
    <div class="footer-content">
        <div class="footer-section about-footer">
            <h1 class="logo-text"><span>Q</span>ROOMS</h1>
            <p class="footer-p">Best Hotels In kurdistan</p>
            <div class="contact">
                <span style="font-size: 3rem;"><i class="fas fa-phone" id="phone-footer"></i> +964
                    770*******</span>
                <span style="font-size:3rem;"><i class="fas fa-envelope" id="phone-footer"></i>
                    hotelinfo@gmail.com</span>
            </div>
            <div class="social">
                <a href=""> <i class="fab fa-facebook" style="font-size:4rem ;"></i></a>
                <a href=""> <i class="fab fa-twitter" style="font-size:4rem ;"></i></a>
                <a href=""> <i class="fab fa-instagram" style="font-size:4rem ;"></i></a>
                <a href=""> <i class="fab fa-youtube" style="font-size:4rem ;"></i></a>
            </div>
        </div>
        <div class="footer-section links">
            <h2 id="footer-link-section">Hotels</h2>
            <ul>
                <a href="">
                    <li><i class="fas fa-arrow-circle-right" id="phone-footer"></i> Hawler Hotels</li>
                </a>
                <a href="">
                    <li><i class="fas fa-arrow-circle-right" id="phone-footer"></i> Sulimani Hotels</li>
                </a>
                <a href="">
                    <li><i class="fas fa-arrow-circle-right" id="phone-footer"></i> Duhok Hotels</li>
                </a>
                <a href="">
                    <li><i class="fas fa-arrow-circle-right" id="phone-footer"></i> VIP Hotels</li>
                </a>
                <a href="">
                    <li><i class="fas fa-arrow-circle-right" id="phone-footer"></i> Booking Page </li>
                </a>
            </ul>
        </div>
        <div class="footer-section contact-form">
            <h2><span id="footer-link-section"> Hotels</span> Kurdistan Locations</h2>
            <div class="contact-map">
                <iframe id="iframe-footer"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d207503.97649650153!2d45.179892131469494!3d35.64622078814607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40002c0536d143b1%3A0xf791750d4e215dea!2sSulaymaniyah!5e0!3m2!1sen!2siq!4v1632681030074!5m2!1sen!2siq"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    <div class="footer-bottom">KurdistanHotesl.com <span class="devl">
            @Designed_By_KURDISH</span>
        All
        right
    </div>
</footer>