<section class="packages" id="packages">
    <h1 class="heading" data-aos="fade-right" data-aos-duration="1000"> Our <span>Hotels</span></h1>
    <div class="box-container">
        <div class="box" data-aos="fade-up" data-aos-duration="1500">
            <div class="image">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/05/52/ee/c2/titanic-hotel-spa.jpg" alt="">
                <h3> <i class="fas fa-map-marker-alt"></i> Sulaimany/Titanic</h3>
            </div>
            <div class="content">
                <div class="price"> 290.99 <span>350.99</span><br><i class="fas fa-star" id="star"></i><i
                        class="fas fa-star" id="star"></i><i class="fas fa-star" id="star"></i><i
                        class="fas fa-star-half-alt" id="star"></i></div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, vitae.</p>
                <a href="#" class="btn-book">Book Now</a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-duration="1500">
            <div class="image">
                <img
                    src="https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/62091585.jpg?k=d1954743e828115342314942aa94be3a8e5c14ce0ec32a5f175cd273ef085d33&o=">
                <h3> <i class="fas fa-map-marker-alt"></i> Sulaimany/Grand Millenium</h3>
            </div>
            <div class="content">
                <div class="price"> 290.99 <span>350.99</span><br></i><i class="fas fa-star" id="star"></i><i
                        class="fas fa-star" id="star"></i><i class="fas fa-star" id="star"></i> </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, vitae.</p>
                <a href="#" class="btn-book">Book Now</a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-duration="1500">
            <div class="image">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/03/50/ea/e3/highcrest-hotel.jpg">
                <h3> <i class="fas fa-map-marker-alt"></i> Sulaimany/HighCrest</h3>
            </div>
            <div class="content">
                <div class="price"> 290.99 <span>350.99</span><br><i class="fas fa-star" id="star"></i><i
                        class="fas fa-star" id="star"></i><i class="fas fa-star" id="star"><i
                            class="fas fa-star-half-alt"></i></i> </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, vitae.</p>
                <a href="#" class="btn-book">Book Now</a>
            </div>
        </div>
        <div class="box" data-aos="fade-up" data-aos-duration="1500">
            <div class="image">
                <img
                    src="https://cdn.ostrovok.ru/t/640x400/content/68/01/680100dd7ddefae500135d0d5c5fe3b4f4186aa4.jpeg">
                <h3> <i class="fas fa-map-marker-alt"></i> Hawler/Rotana</h3>
            </div>
            <div class="content">
                <div class="price"> 290.99 <span>350.99</span><br><i class="fas fa-star" id="star"></i><i
                        class="fas fa-star" id="star"></i><i class="far fa-star" id="star"></i></div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, vitae.</p>
                <a href="#" class="btn-book">Book Now</a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-duration="1500">
            <div class="image">
                <img
                    src="https://imgcy.trivago.com/c_lfill,d_dummy.jpeg,f_auto,h_225,q_auto,w_225/itemimages/22/94/2294620_v2.jpeg">
                <h3> <i class="fas fa-map-marker-alt"></i> Hawler/Divana </h3>
            </div>
            <div class="content">
                <div class="price"> 290.99 <span>350.99</span><br><i class="fas fa-star" id="star"></i><i
                        class="fas fa-star" id="star"></i><i class="fas fa-star" id="star"></i> </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, vitae.</p>
                <a href="#" class="btn-book">Book Now</a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-duration="1500">
            <div class="image">
                <img
                    src="https://images.mawazin.net/root/root/images/201192018_BCEDE0C9-B21C-4A58-8DAF-D6ECFF8730C6.jpeg">
                <h3> <i class="fas fa-map-marker-alt"></i> Hawler/Darin</h3>

            </div>
            <div class="content">
                <div class="price"> 290.99 <span>350.99</span><br><i class="fas fa-star" id="star"></i><i
                        class="fas fa-star" id="star"></i><i class="fas fa-star" id="star"></i><i class="fas fa-star"
                        id="star"></i> </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, vitae.</p>
                <a href="#" class="btn-book">Book Now</a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-duration="1500">
            <div class="image">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/09/45/7f/1f/rixos-duhok.jpg">
                <h3> <i class="fas fa-map-marker-alt"></i> Duhok/RIXOS</h3>
            </div>
            <div class="content">
                <div class="price"> 290.99 <span>350.99</span><br><i class="fas fa-star" id="star"></i><i
                        class="fas fa-star" id="star"></i><i class="fas fa-star" id="star"></i><i class="fas fa-star"
                        id="star"></i> </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, vitae.</p>
                <a href="#" class="btn-book">Book Now</a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-duration="1500">
            <div class="image">
                <img src="https://www.ticati.com/img/hotel/1287905s.jpg">
                <h3> <i class="fas fa-map-marker-alt"></i> Duhok/Shiraton</h3>
            </div>
            <div class="content">
                <div class="price"> 290.99 <span>350.99<br><i class="fas fa-star" id="star"></i><i class="fas fa-star"
                            id="star"></i><i class="fas fa-star" id="star"></i><i class="far fa-star"
                            id="star"></i></span>
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, vitae.</p>
                <a href="#" class="btn-book">Book Now</a>
            </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-duration="1500">
            <div class="image">
                <img src="https://www.letsbookhotel.com/img/max300/858/8582477.jpg">
                <h3> <i class="fas fa-map-marker-alt"></i> Duhok/Jiyan</h3>
            </div>
            <div class="content">
                <div class="price"> 290.99 <span>350.99</span><br><i class="fas fa-star" id="star"></i><i
                        class="fas fa-star" id="star"></i><i class="fas fa-star" id="star"></i><i class="fas fa-star"
                        id="star"></i> </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, vitae.</p>
                <a href="#" class="btn-book">Book Now</a>
            </div>
        </div>
    </div>
</section>