<section id="team">
    <div class="our-room">
        <h6 data-aos="fade-left" data-aos-duration="1000">Hotel Room</h6>
        <div class="underline" id="underline-rooms"></div>
    </div>
    <div class="testimonial-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-slider owl-carousel">
                        <div class="single-box text-center">
                            <div class="img-area"><img alt="" class="img-fluid move-animation"
                                    src="https://imgcld.yatra.com/ytimages/image/upload/t_hotel_yatra_details_desktop/v1453381006/Domestic%20Hotels/Hotels_Jalandhar/Ramada%20Jalandhar%20City%20Centre/Deluxe_Room.jpg">
                            </div>
                            <div class="info-area">
                                <h4>Room Titanic / SELEMANI</h4>
                                <p id="price-room">$30.00 / Per Night</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, ullam.
                                    <br><i class="fas fa-toilet-paper" id="icon-room"></i><i
                                        class="fas fa-concierge-bell" id="icon-room"></i><i class="fas fa-bath"
                                        id="icon-room"></i><i class="fas fa-smoking-ban" id="icon-room"></i><i
                                        class="fas fa-swimming-pool" id="icon-room"></i>
                                </p>
                                <a href="#">View Room</a>
                            </div>
                        </div>
                        <div class="single-box text-center">
                            <div class="img-area"><img alt="" class="img-fluid move-animation"
                                    src="http://ramadamanilacentral.com/wp-content/uploads/2013/11/Suite-2.jpg"></div>
                            <div class="info-area">
                                <h4>Room HightCrest / SELEMANI</h4>
                                <p id="price-room">$20.00 / Per Night</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, ullam.
                                    <br><i class="fas fa-utensils" id="icon-room"></i><i class="fas fa-concierge-bell"
                                        id="icon-room"></i><i class="fas fa-bath" id="icon-room"></i><i
                                        class="fas fa-smoking-ban" id="icon-room"></i><i class="fas fa-swimming-pool"
                                        id="icon-room"></i>
                                </p><a href="#">View Room</a>
                            </div>
                        </div>
                        <div class="single-box text-center">
                            <div class="img-area"><img alt="" class="img-fluid move-animation"
                                    src="https://www.ramadahongkonggrandview.com/img/accommodations_photo/Superior%20Room%201.jpg">
                            </div>
                            <div class="info-area">
                                <h4>Room Ramad / SELEMANI</h4>
                                <p id="price-room">$30.00 / Per Night</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, ullam.
                                    <br><i class="fas fa-toilet-paper" id="icon-room"></i><i
                                        class="fas fa-concierge-bell" id="icon-room"></i><i class="fas fa-bath"
                                        id="icon-room"></i><i class="fas fa-smoking-ban" id="icon-room"></i><i
                                        class="fas fa-swimmer" id="icon-room"></i></i>
                                </p><a href="#">View Room</a>
                            </div>
                        </div>
                        <div class="single-box text-center">
                            <div class="img-area"><img alt="" class="img-fluid move-animation"
                                    src="https://1.bp.blogspot.com/-plzZoJcc96Y/URnaInqfz6I/AAAAAAAAOWQ/1mPgan3LpW8/s1600/04.jpg">
                            </div>
                            <div class="info-area">
                                <h4>Room Divan / HAWLER</h4>
                                <p id="price-room">$35.00 / Per Night</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, ullam.
                                    <br><i class="fas fa-toilet-paper" id="icon-room"></i><i
                                        class="fas fa-concierge-bell" id="icon-room"></i><i class="fas fa-tv"
                                        id="icon-room"></i></i><i class="fas fa-smoking-ban" id="icon-room"></i><i
                                        class="fas fa-swimming-pool" id="icon-room"></i>
                                </p><a href="#">View Room</a>
                            </div>
                        </div>
                        <div class="single-box text-center">
                            <div class="img-area"><img alt="" class="img-fluid move-animation"
                                    src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/245295674.jpg?k=6dd10f1c4c2480707d45202b1a820fc9ace75c5dcddd99c0b5ad82946e90fa1e&o=&hp=1">
                            </div>
                            <div class="info-area">
                                <h4>Room Rotana / HAWLER</h4>
                                <p id="price-room">$40.00 / Per Night</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, ullam.
                                    <br><i class="fas fa-toilet-paper" id="icon-room"></i><i
                                        class="fas fa-concierge-bell" id="icon-room"></i><i class="fas fa-bath"
                                        id="icon-room"></i><i class="fas fa-smoking-ban" id="icon-room"></i><i
                                        class="fas fa-swimming-pool" id="icon-room"></i>
                                </p><a href="#">View Room</a>
                            </div>
                        </div>
                        <div class="single-box text-center">
                            <div class="img-area"><img alt="" class="img-fluid move-animation"
                                    src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/12/3e/a0/58/executive-room.jpg?w=900&h=-1&s=1">
                            </div>
                            <div class="info-area">
                                <h4>Room Darin / HAWLER</h4>
                                <p id="price-room">$30.00 / Per Night</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, ullam.
                                    <br><i class="fas fa-toilet-paper" id="icon-room"></i><i
                                        class="fas fa-concierge-bell" id="icon-room"></i><i class="fas fa-bath"
                                        id="icon-room"></i><i class="fas fa-smoking-ban" id="icon-room"></i><i
                                        class="fas fa-swimming-pool" id="icon-room"></i>
                                </p><a href="#">View Room</a>
                            </div>
                        </div>
                        <div class="single-box text-center">
                            <div class="img-area"><img alt="" class="img-fluid move-animation"
                                    src="https://r2imghtlak.mmtcdn.com/r2-mmt-htl-image/room-imgs/201704201022451678-1518-b96a639cad2b11e891f70aea9f0f8f9a.jpg?&output-quality=75&downsize=910:612&crop=910:612;4,0&output-format=jpg">
                            </div>
                            <div class="info-area">
                                <h4>Room RIXOS / DUHOK</h4>
                                <p id="price-room">$40.00 / Per Night</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, ullam.
                                    <br><i class="fas fa-toilet-paper" id="icon-room"></i><i
                                        class="fas fa-concierge-bell" id="icon-room"></i><i class="fas fa-bath"
                                        id="icon-room"></i><i class="fas fa-smoking-ban" id="icon-room"></i><i
                                        class="fas fa-swimming-pool" id="icon-room"></i>
                                </p><a href="#">View Room</a>
                            </div>
                        </div>
                        <div class="single-box text-center">
                            <div class="img-area"><img alt="" class="img-fluid move-animation"
                                    src="https://www.ramadahongkonggrandview.com/img/accommodations_photo/Superior%20Room%201.jpg">
                            </div>
                            <div class="info-area">
                                <h4>Room Shiraton / DUHOK</h4>
                                <p id="price-room">$35.00 / Per Night</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, ullam.
                                    <br><i class="fas fa-toilet-paper" id="icon-room"></i><i
                                        class="fas fa-concierge-bell" id="icon-room"></i><i class="fas fa-bath"
                                        id="icon-room"></i><i class="fas fa-smoking-ban" id="icon-room"></i><i
                                        class="fas fa-swimming-pool" id="icon-room"></i>
                                </p><a href="#">View Room</a>
                            </div>
                        </div>
                        <div class="single-box text-center">
                            <div class="img-area"><img alt="" class="img-fluid move-animation"
                                    src="https://www.ramadahongkonggrandview.com/img/accommodations_photo/Superior%20Room%201.jpg">
                            </div>
                            <div class="info-area">
                                <h4>Room Jiyan / DUHOK</h4>
                                <p id="price-room">$20.00 / Per Night</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, ullam.
                                    <br><i class="fas fa-toilet-paper" id="icon-room"></i><i
                                        class="fas fa-concierge-bell" id="icon-room"></i><i class="fas fa-bath"
                                        id="icon-room"></i><i class="fas fa-smoking-ban" id="icon-room"></i><i
                                        class="fas fa-swimming-pool" id="icon-room"></i>
                                </p><a href="#">View Room</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>