<div class="group-title" id="group-team">
    <h1 class="heading" data-aos="fade-right" data-aos-duration="1200">Our<span> Team</span>
    </h1>
</div>


<!-- cards -->
<section class="group">
    <!-- hanaw -->
    <div class="card">
        <div class="circle">
            <div class="imgbox">
                <img src="All Images/Main_Images/images/hanaw.jpg" alt="">
            </div>
        </div>

        <div class="content">
            <a href=""><i class="fab fa-facebook-f" id="icon-group"></i></a>
            <h3>Hanaw Muhammad</h3>
            <div class="textIcon">
                <h4>Front-End Devloper </h4>
                <a href=""> <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <!-- rovar -->
    <div class="card">
        <div class="circle">
            <div class="imgbox">
                <img src="All Images/Main_Images/images/rovar.jpg" alt="">
            </div>
        </div>

        <div class="content">
            <a href=""><i class="fab fa-instagram" id="icon-group"></i></a>
            <h3>Rovar Kamil</h3>
            <div class="textIcon">
                <h4>Back-End Devloper </h4>
                <a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <!-- avan -->
    <div class="card">
        <div class="circle">
            <div class="imgbox">
                <img src="All Images/Main_Images/images/avan.jpg" alt="">
            </div>
        </div>

        <div class="content">
            <a href=""><i class="fab fa-linkedin-in" id="icon-group"></i></a>
            <h3>Avan Jalil</h3>
            <div class="textIcon">
                <h4>Front-End Devloper </h4>
                <a href=""> <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

    <!-- yassin -->
    <div class="card">
        <div class="circle">
            <div class="imgbox">
                <img src="All Images/Main_Images/images/yassin.jpg" alt="">
            </div>
        </div>

        <div class="content">
            <a href=""><i class="fab fa-linkedin-in" id="icon-group"></i></a>
            <h3>Yassin abdulla</h3>
            <div class="textIcon">
                <h4>Front-End Devloper </h4>
                <a href=""> <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>