<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ama icon bakrhenawa ka la search bar neshan dadret -->
    <link rel="icon" href="../All Images/HighCrest_Images/Main/images/image search bar .png">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- ama bo aos -->
    <link rel="stylesheet" href="../CSS/HighCrest_CSS/Main/style/aos.css">
    <link rel="stylesheet" href="../CSS/HighCrest_CSS/Home/homeStyle.css">
    <title>HighCrest</title>

    <link rel="stylesheet" href="../CSS/HighCrest_CSS/Navigation/Navigation.css">
    <!-- ama bo about slider ka la swiper henawma   -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
</head>