<div class="about-container">
    <div class="about">
        <div class="about-image">
            <img src="../All Images/HighCrest_Images/Main/images/birthday.jpg" alt="">
        </div>
        <div class="about-text">
            <h3>Birthday Event</h3>
            <ul>
                <li>
                    <i class="fas fa-arrow-alt-circle-right"></i>
                    lorem ipisum dolor sit swit
                </li>
                <li>
                    <i class="fas fa-arrow-alt-circle-right"></i>
                    lorem ipisum dolor sit swit
                </li>
                <li>
                    <i class="fas fa-arrow-alt-circle-right"></i>
                    lorem ipisum dolor sit swit
                </li>
            </ul>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis molestiae esse quaerat
                at
                facilis officia? Voluptas consequatur obcaecati, eius iusto corrupti temporibus sit
                assumenda magnam. Ipsa quo voluptatum tempore dolorem!</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis molestiae esse quaerat
                at
                facilis officia? Voluptas consequatur obcaecati, eius iusto corrupti temporibus sit
                assumenda magnam. Ipsa quo voluptatum tempore dolorem!</p>
            <p class="rate">
                <span>$444/</span>Bithday
            </p>
            <button type="button"> Show More </button>
        </div>
    </div>
    <div class="about">
        <div class="about-image">
            <img width="100%" src="../All Images/HighCrest_Images/Main/images/metting.jpg" alt="">
        </div>
        <div class="about-text">
            <h3>Confrance</h3>
            <ul>
                <li>
                    <i class="fas fa-arrow-alt-circle-right"></i>
                    lorem ipisum dolor sit swit
                </li>
                <li>
                    <i class="fas fa-arrow-alt-circle-right"></i>
                    lorem ipisum dolor sit swit
                </li>
                <li>
                    <i class="fas fa-arrow-alt-circle-right"></i>
                    lorem ipisum dolor sit swit
                </li>
            </ul>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis molestiae esse quaerat
                at
                facilis officia? Voluptas consequatur obcaecati, eius iusto corrupti temporibus sit
                assumenda magnam. Ipsa quo voluptatum tempore dolorem!</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis molestiae esse quaerat
                at
                facilis officia? Voluptas consequatur obcaecati, eius iusto corrupti temporibus sit
                assumenda magnam. Ipsa quo voluptatum tempore dolorem!</p>
            <p class="rate">
                <span>$744.44/</span>For Confrance
            </p>
            <button type="button"> Show More </button>
        </div>
    </div>
    <div class="about">
        <div class="about-image">
            <img src="../All Images/HighCrest_Images/Main/images/wedding.jpg" alt="">
        </div>
        <div class="about-text">
            <h3>Weddings</h3>
            <ul>
                <li>
                    <i class="fas fa-arrow-alt-circle-right"></i>
                    lorem ipisum dolor sit swit
                </li>
                <li>
                    <i class="fas fa-arrow-alt-circle-right"></i>
                    lorem ipisum dolor sit swit
                </li>
                <li>
                    <i class="fas fa-arrow-alt-circle-right"></i>
                    lorem ipisum dolor sit swit
                </li>
            </ul>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis molestiae esse quaerat
                at
                facilis officia? Voluptas consequatur obcaecati, eius iusto corrupti temporibus sit
                assumenda magnam. Ipsa quo voluptatum tempore dolorem!</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis molestiae esse quaerat
                at
                facilis officia? Voluptas consequatur obcaecati, eius iusto corrupti temporibus sit
                assumenda magnam. Ipsa quo voluptatum tempore dolorem!</p>
            <p class="rate">
                <span>$944.44/</span>For Weddings
            </p>
            <button type="button"> Show More </button>
        </div>
    </div>
</div>