<div class="home">
    <div class="container-home">
        <div class="row">
            <div class="col">
                <h1>HighCrest </h1>
                <button type="button"> Show More </button>
            </div>
            <div class="col">
                <div class="card card1">
                    <h2>HighCrest </h2>
                    <p>Lorem ipsum dolor sit ametibus doloribus autem repellendus tempora a mollitia, minus
                        provident nobis iusto? Quasi, amet!</p>
                </div>
                <div class="card card2">
                    <h2>HighCrest Reception</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipibo ex numqus autem repellendus tempora a
                        mollitia, minus provident nobis iusto? Quasi, amet!</p>
                </div>
                <div class="card card3">
                    <h2>HighCrest Room</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiexus doloribus autem repellendus tempora a
                        mollitia, minus provident nobis iusto? Quasi, amet!</p>
                </div>
                <div class="card card4">
                    <h2>HighCrest Resturant</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicexplicabo ex numquam quisquam minima.
                        Necessitatibus doloribus autem repellendus tempora a mollitia, minus provident nobis
                        iusto?
                        Quasi, amet!</p>
                </div>
            </div>
        </div>