<div class="about-hotel">
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="slide-left">
                    <h6 class="element">01</h6>
                    <h1 class="element">Service</h1>
                    <p class="element">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At nulla, in
                        reprehenderit
                        eveniet ex blanditiis inventore! Dicta tempore nostrum, suscipit maxime quod
                        voluptatibus, dolores, fugit maiores asperiores nemo iste pariatur.
                    </p>
                    <button type="button"> Read More </button>
                </div>
                <div class="slide-right">
                    <img src="../All Images/HighCrest_Images/Main/images/service image.jpg" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-left">
                    <h6 class="element">02</h6>
                    <h1 class="element">Discount && free </h1>
                    <p class="element">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At nulla, in
                        reprehenderit
                        eveniet ex blanditiis inventore! Dicta tempore nostrum, suscipit maxime quod
                        voluptatibus, dolores, fugit maiores asperiores nemo iste pariatur.
                    </p>
                    <button type="button"> Read More </button>
                </div>
                <div class="slide-right">
                    <img src="../All Images/HighCrest_Images/Main/images/free2.jpg" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-left">
                    <h6 class="element">03</h6>
                    <h1 class="element">Reception</h1>
                    <p class="element">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At nulla, in
                        reprehenderit
                        eveniet ex blanditiis inventore! Dicta tempore nostrum, suscipit maxime quod
                        voluptatibus, dolores, fugit maiores asperiores nemo iste pariatur.
                    </p>
                    <button type="button"> Read More </button>
                </div>
                <div class="slide-right">
                    <img src="../All Images/HighCrest_Images/Main/images/highcrest reception.jpg" alt="">
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>