<section class="galley-room">
    <div class="room-description">
        <h1>Our Rooms</h1>
        <p>Enjoy our services</p>
    </div>
    <div class="room-gallery">
        <img class="gallery-hightlight" src="../All Images/HighCrest_Images/Rooms/images/room cover1.jpg" alt="room1" />
        <div class="room-preview">
            <img src="../All Images/HighCrest_Images/Rooms/images/room2.jpg" class="room-active" alt="" />
            <img src="../All Images/HighCrest_Images/Rooms/images/highcrest room.jpg" alt="" />
            <img src="../All Images/HighCrest_Images/Rooms/images/room2.jpg" alt="" />
        </div>
    </div>
</section>