<section id="hero" class="d-flex align-items-center">
    <div class="container_r" style="margin-top: 20rem;margin-left: 10rem;">
        <div class="row">
            <div class="col-lg-12">
                <h1 style="font-size: 4.1rem;">ROOMS</h1>
                <div class="line">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <p class="returnhome"><a href="/HighCrest/AllRooms"
                        style="text-decoration: none; font-size: 3.1rem; color:chocolate;">AllRoom >> </a>ROOMS</p>
            </div>

        </div>
    </div>
</section>