<div class="about-section">
    <div class="inner-container">
        <h1>Payment </h1>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ducimus, enim inventore earum,
            eligendi
            nostrum pariatur necessitatibus eius dicta a voluptates sit deleniti autem error eos totam nisi neque
            voluptates
            sit deleniti autem error eos totam nisi neque.
        </p>
        <div class="skills">
            <span> Booking Room</span>
            <span>Price</span>
            <span>Location</span>
        </div>
        <div class="center">
            <input type="checkbox" id="show">
            <label for="show" class="show-btn">View Form</label>
            <div class="container" style="margin-top: 39rem;width: 560px; ">
                <label for="show" class="close-btn fas fa-times" title="close"></label>
                <div class="payment-logo">
                </div>
                <div class="text">
                    Payment Form
                </div>
                <form action="#">
                    <div class="card space icon-relative" style="border:none;">
                        <label class="label">Email or Phone Number:</label>
                        <input type="text" class="input" placeholder="Email or Phone Number">
                        <i style="margin-bottom:8px; color: rgba(88, 88, 86, 0.376);" class="fas fa-user"></i>
                    </div>
                    <div class="card space icon-relative" style="border:none;">
                        <label class="label">Card Number:</label>
                        <input type="text" class="input" data-mask="0000 0000 0000 0000" placeholder="Card Number">
                        <i style="margin-bottom:8px;color: rgba(88, 88, 86, 0.376);" class="far fa-credit-card"></i>
                    </div>
                    <div class="card-grp space">
                        <div class="card-item icon-relative" style="border:none;">
                            <label class="label">Expiry Date:</label>
                            <input type="text" name="expiry-data" class="input" data-mask="00 / 00"
                                placeholder="00 / 00">
                            <i style="margin-bottom:8px;color: rgba(88, 88, 86, 0.376);"
                                class="far fa-calendar-alt"></i>
                        </div>
                        <div class="card-item icon-relative">
                            <label class="label ">HidText:</label>
                            <input type="text" class="input" data-mask="000" placeholder="000">
                            <i style="margin-bottom:8px;color: rgba(88, 88, 86, 0.376); font-size: 2rem;"
                                class="fas fa-lock"></i>
                        </div>
                    </div>
                    <div class="btn">Pay</div>
                </form>
            </div>
        </div>
    </div>
</div>