<div class=" textServices-blog">
    <h1>HighCrest Room Know More About It</h1><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit <br>
        amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus <br>
        non enim praesent elementum facilisis :</p>
    <ul>
        <li>Service</li>
        <li> Price </li>
        <li> Description </li>
    </ul>
</div>

<section id="services">
    <div class="container-service">
        <div class="row">
            <div class="col-md-5 imageServices">
                <div class="col-md-6 sofas">
                    <div class="row">
                        <img class="roomservice1 img-fluid" src="../All Images/HighCrest_Images/Rooms/images/room2.jpg"
                            alt="room1">
                    </div>
                    <div class="row">
                        <img class="roomservice2 img-fluid"
                            src="../All Images/HighCrest_Images/Rooms/images/highcrest reception.jpg" alt="room2">
                    </div>

                    <img class="roomhigh img-fluid" src="../All Images/HighCrest_Images/Rooms/images/child room.jpg"
                        alt="lamp">

                </div>
            </div>
            <div class="col-md-7 textServices">
                <h1>HighCrest Room Provide Thoese <span>services</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit <br>
                    amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus <br>
                    non enim praesent elementum facilisis :</p>
                <ul>
                    <li>Free BreakFast</li>
                    <li>Cleanning Room </li>
                    <li> Good Reception </li>
                </ul>
            </div>
        </div>
    </div>
</section>