<div class="contact__container">
    <div class="contact__content">
        <div class="contact__left-side">
            <div class="contact__address contact__details">
                <i class="fas fa-map-marker-alt"></i>
                <div class="contact__topic">Address</div>
                <div class="text-one">Surkhet, NP12</div>
                <div class="text-two">Birendranagar 06</div>
            </div>
            <div class="phone contact__details">
                <i class="fas fa-phone-alt"></i>
                <div class="contact__topic">Phone</div>
                <div class="text-one">+0098 9893 5647</div>
                <div class="text-two">+0096 3434 5678</div>
            </div>
            <div class="email contact__details" style="padding-left: 74px;">
                <i class="fas fa-envelope"></i>
                <div class="contact__topic">Email</div>
                <div class="text-one">codinglab@gmail.com</div>
                <div class="text-two">info.codinglab@gmail.com</div>
            </div>
        </div>
        <div class="right-side">
            <div class="contact__topic-text">Send us a message</div>
            <p>If you have any work from me or any types of quries related to my tutorial, you can send me message from
                here. It's my pleasure to help you.</p>
            <form action="#">
                <div class="input-box">
                    <input type="text" placeholder="Enter your name">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Enter your email">
                </div>
                <div class="input-box message-box">
                    <textarea name="" id="" cols="30" rows="10" placeholder="the message content"></textarea>
                </div>
                <div class="button">
                    <input type="button" value="Send Now">
                </div>
            </form>
        </div>
    </div>
</div>