<div class="section__heading">
    <h1>Contact us</h1>
    <div class="line">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <p> <a href="/Home">Home >></a> <span>Contact</span> </p>
</div>