<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- ama icon bakrhenawa ka la search bar neshan dadret -->
    <link rel="icon" href="../../../HighCrest_Assets/Resturant_Assets/Assets/img/image search bar .png">
    <title>Resturant</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Vendor CSS Files -->
    <link href="../../../assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/venobox/venobox.css" rel="stylesheet">

    <link href="../../../HighCrest_Assets/Resturant_Assets/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../HighCrest_Assets/Resturant_Assets/Assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../../HighCrest_Assets/Resturant_Assets/Assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../../HighCrest_Assets/Resturant_Assets/Assets/vendor/aos/aos.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="../../../HighCrest_Assets/Resturant_Assets/Assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../CSS/HighCrest_CSS/Resturant/nav.css">
    <link rel="stylesheet" href="../../../../CSS/HighCrest_CSS/Navigation/model.css">
</head>

<body>
    <!-- Header Section Start -->
    <%- include("../../../partials/HighCrestPartials/MainPartials/Header.ejs") %>
        <!-- Header Section End -->

        <!-- ======= Hero Section ======= -->
        <section id="hero" class="d-flex align-items-center">
            <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Resturant</h1>
                        <p class="returnhome"><a href="/HighCrest">Home >> </a>Resturant</p>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Hero -->

        <main id="main">
            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                <div class="container" data-aos="fade-up">

                    <div class="row">
                        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                            <div class="about-img">
                                <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/about.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                            <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3><br>
                            <p class="font-italic">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p><br>
                            <ul>
                                <li><i class="fas fa-check-circle"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, fuga</li>
                                <li><i class="fas fa-check-circle"></i> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, facilis.
                                </li>
                                <li><i class="fas fa-check-circle"></i> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam maxime inventore ad quos accusamus, officiis similique molestias a exercitationem quibusdam?
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </section>
            <!-- End About Section -->

            <!-- ======= Menu Section ======= -->
            <section id="menu" class="menu section-bg">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Special Menu</h2>
                        <p>Check Our Menu</p>
                    </div>
                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <ul id="menu-flters">
                                <li data-filter="*" class="filter-active">All</li>
                                <li data-filter=".filter-burger">Burger</li>
                                <li data-filter=".filter-salads">Salads</li>
                                <li data-filter=".filter-coffee">Coffee</li>
                                <li data-filter=".filter-pizza">Pizza</li>
                                <li data-filter=".filter-pasta">Pasta</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
                        <div class="col-lg-6 menu-item filter-pizza">
                            <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (1).jpg" class="menu-img" alt="">
                            <div class="menu-content">
                                <a href="#">Yoli Pizza</a><span>$5.95</span>
                            </div>
                            <div class="menu-ingredients">
                                Lorem, deren, trataro, filede, nerada
                            </div>
                        </div>
                      
                      
                        <div class="col-lg-6 menu-item filter-burger">
                            <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (4).jpg" class="menu-img" alt="">
                            <div class="menu-content">
                                <a href="#">Burger</a><span>$8.95</span>
                            </div>
                            <div class="menu-ingredients">
                                Lorem, deren, trataro, filede, nerada
                            </div>
                        </div>
                        <div class="col-lg-6 menu-item filter-coffee">
                            <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (5).jpg" class="menu-img" alt="">
                            <div class="menu-content">
                                <a href="#">Coffe Hot</a><span>$9.95</span>
                            </div>
                            <div class="menu-ingredients">
                                Grilled chicken with provolone, artichoke hearts, and roasted red pesto
                            </div>
                        </div>
                        <div class="col-lg-6 menu-item filter-pasta">
                            <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (7).jpg" class="menu-img" alt="">
                            <div class="menu-content">
                                <a href="#">Pasta Hio</a><span>$4.95</span>
                            </div>
                            <div class="menu-ingredients">
                                Lorem, deren, trataro, filede, nerada
                            </div>
                        </div>
                       
                        <div class="col-lg-6 menu-item filter-burger">
                            <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (4).jpg" class="menu-img" alt="">
                            <div class="menu-content">
                                <a href="#">Spaid Burger</a><span>$9.95</span>
                            </div>
                            <div class="menu-ingredients">
                                Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
                            </div>
                        </div>
                     
                        <div class="col-lg-6 menu-item filter-salads">
                            <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (10).jpg" class="menu-img" alt="">
                            <div class="menu-content">
                                <a href="#">Salads</a><span>$12.95</span>
                            </div>
                            <div class="menu-ingredients">
                                Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                            </div>
                        </div>
                     
                        <div class="col-lg-6 menu-item filter-salads">
                            <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (12).jpg" class="menu-img" alt="">
                            <div class="menu-content">
                                <a href="#">Salads</a><span>$12.95</span>
                            </div>
                            <div class="menu-ingredients">
                                Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                            </div>
                        </div>
                        <div class="col-lg-6 menu-item filter-pizza">
                            <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/menu/menu1 (13).jpg" class="menu-img" alt="">
                            <div class="menu-content">
                                <a href="#">Pizza</a><span>$12.95</span>
                            </div>
                            <div class="menu-ingredients">
                                Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Menu Section -->

            <!-- ======= Specials Section ======= -->
            <section id="specials" class="specials">
                <div class="container" data-aos="fade-up">
                    <div class="section-title-meal">
                        <h2>Meal</h2>
                        <p>Check Our Meal</p>
                    </div>
                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-3">
                            <ul class="nav nav-tabs flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="tab" href="#tab-1">BREAKFAST</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-2">LUNCH</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-3">DINNER</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-4">SHOW ALL MEAL</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-5">NICE TABLE IN MEAL</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-9 mt-4 mt-lg-0">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="tab-1">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h3>Meal Breakfast very nice contain all something</h3>
                                            <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                                            <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur
                                                dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/png1.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-2">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h3>Meal Lunch very nice contain all something</h3>
                                            <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                                            <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus
                                                lerode pakto madirna desera vafle de nideran pal</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/png2.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-3">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h3>Meal Dinner very nice contain all something</h3>
                                            <p class="font-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                                            <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat
                                                sit ullam. Soluta et harum voluptatem optio quae</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/png3.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-4">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h3>Meal very nice contain all something in the hotel HighCrest</h3>
                                            <p class="font-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus
                                            </p>
                                            <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis
                                                aperiam quia a laborum inventore</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/png4.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-5">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h3>Meal very nice contain all something in the hotel HighCre</h3>
                                            <p class="font-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                                            <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate
                                                vel
                                            </p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/png5.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Specials Section -->

            <!-- ======= Events Section ======= -->
            <section id="events" class="events">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Events</h2>
                        <p>Organize Your Events HOTEL</p>
                    </div>
                    <div class="owl-carousel events-carousel" data-aos="fade-up" data-aos-delay="100">
                        <div class="row event-item">
                            <div class="col-lg-6">
                                <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/birth.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3>Birthday Parties</h3>
                                <div class="price">
                                    <p><span>$299</span></p>
                                </div>
                                <p class="font-italic">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                                <ul>
                                    <li><i class="fas fa-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </li>
                                    <li><i class="fas fa-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
                                    </li>
                                    <li><i class="fas fa-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </li>
                                </ul>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem reiciendis similique eos corporis, nam dicta eligendi adipisci cum voluptatum nostrum.
                                </p>
                            </div>
                        </div>
                        <div class="row event-item">
                            <div class="col-lg-6">
                                <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/consert.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3>Private Parties</h3>
                                <div class="price">
                                    <p><span>$290</span></p>
                                </div>
                                <p class="font-italic">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ratione hic voluptatem harum impedit a laboriosam molestias placeat, dolore minus.
                                </p>
                                <ul>
                                    <li><i class="fas fa-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </li>
                                    <li><i class="fas fa-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
                                    </li>
                                    <li><i class="fas fa-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </li>
                                </ul>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem officiis modi repudiandae repellat voluptate, rem assumenda deleniti labore vel molestiae!
                                </p>
                            </div>
                        </div>
                        <div class="row event-item">
                            <div class="col-lg-6">
                                <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/birthday.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3>Custom Parties</h3>
                                <div class="price">
                                    <p><span>$99</span></p>
                                </div>
                                <p class="font-italic">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero dolorum ipsum ipsa, ab error animi exercitationem incidunt minima unde dolor.
                                </p>
                                <ul>
                                    <li><i class="fas fa-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </li>
                                    <li><i class="fas fa-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.
                                    </li>
                                    <li><i class="fas fa-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </li>
                                </ul>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, hic. A voluptate vitae, eius laborum eos quisquam. Recusandae, voluptatem quos.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Events Section -->

            <!-- ======= Testimonials Section ======= -->
            <section id="testimonials" class="testimonials section-bg">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>REVIEW</h2>
                        <p>What are they saying about the Hotel's restaurant </p>
                    </div>
                    <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="100">
                        <div class="testimonial-item">
                            <p>
                                <i class="fas fa-quote-left quote-icon-left"></i> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus
                                at semper.
                                <i class="fas fa-quote-right quote-icon-right"></i>
                            </p>
                            <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/testimonials/people1.jpg" class="testimonial-img" alt="">
                            <h3>Muhammad Ali</h3>
                            <h4>Designer</h4>
                        </div>
                        <div class="testimonial-item">
                            <p>
                                <i class="fas fa-quote-left quote-icon-left"></i> Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam
                                anim culpa.
                                <i class="fas fa-quote-right quote-icon-right"></i>
                            </p>
                            <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/testimonials/people2.jpg" class="testimonial-img" alt="">
                            <h3>Yassin Abdula</h3>
                            <h4>Designer</h4>
                        </div>
                        <div class="testimonial-item">
                            <p>
                                <i class="fas fa-quote-left quote-icon-left"></i> Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                <i class="fas fa-quote-right quote-icon-right"></i>
                            </p>
                            <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/testimonials/people3.jpg" class="testimonial-img" alt="">
                            <h3>Rovar Kamil Karlis</h3>
                            <h4>FullStack</h4>
                        </div>
                        <div class="testimonial-item">
                            <p>
                                <i class="fas fa-quote-left quote-icon-left"></i> Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore
                                labore illum veniam.
                                <i class="fas fa-quote-right quote-icon-right"></i>
                            </p>
                            <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/testimonials/people4.jpg" class="testimonial-img" alt="">
                            <h3>Avan Jalil</h3>
                            <h4>Dr.</h4>
                        </div>
                        <div class="testimonial-item">
                            <p>
                                <i class="fas fa-quote-left quote-icon-left"></i> Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam
                                culpa fore nisi cillum quid.
                                <i class="fas fa-quote-right quote-icon-right"></i>
                            </p>
                            <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/testimonials/people5.jpg" class="testimonial-img" alt="">
                            <h3>Hanaw Muhamad</h3>
                            <h4>Graphic Desinger</h4>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Testimonials Section -->

            <!-- ======= Gallery Section ======= -->
            <!-- <section id="gallery" class="gallery">
    <div class="container" data-aos="fade-up">
        <div class="section-title-meal">
            <h2>Gallery</h2>
            <p>Some photos from HOTEL</p>
        </div>
    </div>
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (1).jpg" class="venobox"
                        data-gall="gallery-item">
                        <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (1).jpg" alt=""
                            class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (2).jpg" class="venobox"
                        data-gall="gallery-item">
                        <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (2).jpg" alt=""
                            class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (3).jpg" class="venobox"
                        data-gall="gallery-item">
                        <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (3).jpg" alt=""
                            class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (4).jpg" class="venobox"
                        data-gall="gallery-item">
                        <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (4).jpg" alt=""
                            class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (5).jpg" class="venobox"
                        data-gall="gallery-item">
                        <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (5).jpg" alt=""
                            class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (6).jpg" class="venobox"
                        data-gall="gallery-item">
                        <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (6).jpg" alt=""
                            class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (7).jpg" class="venobox"
                        data-gall="gallery-item">
                        <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (7).jpg" alt=""
                            class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (8).jpg" class="venobox"
                        data-gall="gallery-item">
                        <img src="../HighCrest_Assets/Resturant_Assets/Assets/img/gallery/galler (8).jpg" alt=""
                            class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section> -->
            <!-- End Gallery Section -->

            <!-- ======= Chefs Section ======= -->
            <section id="chefs" class="chefs">
                <div class="container" data-aos="fade-up">
                    <div class="section-title-meal  ">
                        <h2>Chefs</h2>
                        <p>Proffesional Chefs</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="member" data-aos="zoom-in" data-aos-delay="100">
                                <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/chefs/chef (1).jpg" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>Ahmad Ghan</h4>
                                        <span>Capten Chef</span>
                                    </div>
                                    <div class="social">
                                        <a href="/HighCrest/Chefs_Profile" target="_blank"><i
                                                class="fab fa-twitter"></i></a>
                                        <a href="/HighCrest/Chefs_Profile" target="_blank"><i
                                                class="fab fa-instagram"></i></a>
                                        <a href="/HighCrest/Chefs_Profile" target="_blank"><i
                                                class="fab fa-facebook"></i></a>
                                        <a href="/HighCrest/Chefs_Profile" target="_blank"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="member" data-aos="zoom-in" data-aos-delay="200">
                                <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/chefs/chef (2).jpg" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>Jutyar Hiwa</h4>
                                        <span>Chef</span>
                                    </div>
                                    <div class="social">
                                        <a href="/HighCrest/Chefs_Profile" target="_blank"><i
                                                class="fab fa-twitter"></i></a>
                                        <a href="/HighCrest/Chefs_Profile" target="_blank"><i
                                                class="fab fa-instagram"></i></a>
                                        <a href="/HighCrest/Chefs_Profile" target="_blank"><i
                                                class="fab fa-facebook"></i></a>
                                        <a href="/HighCrest/Chefs_Profile" target="_blank"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="member" data-aos="zoom-in" data-aos-delay="300">
                                <img src="../../../HighCrest_Assets/Resturant_Assets/Assets/img/chefs/chef (3).jpg" class="img-fluid" alt="">
                                <div class="member-info">
                                    <div class="member-info-content">
                                        <h4>Edris Adam</h4>
                                        <span>Cook</span>
                                    </div>
                                    <div class="social">
                                        <a href="/HighCrest/Chefs_Profile" target="_blank"><i
                                                class="fab fa-twitter"></i></a>
                                        <a href="/HighCrest/Chefs_Profile" target="_blank"><i
                                                class="fab fa-facebook"></i></a>
                                        <a href="/HighCrest/Chefs_Profile" target="_blank"><i
                                                class="fab fa-instagram"></i></a>
                                        <a href="/HighCrest/Chefs_Profile" target="_blank"><i
                                                class="fab fa-linkedin-in  "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Chefs Section -->

            <!-- Footer Section Start  -->
            <%- include("../../../partials/HighCrestPartials/MainPartials/Footer.ejs") %>
                <!-- Footer Section End  -->

                <!-- Scripts -->
                <script src="../../../javaScript/HighCrest_Scripts/Navigation/Navigation.js"></script>
                <!-- Vendor JS Files -->
                <script src="../../../HighCrest_Assets/Resturant_Assets/Assets/vendor/jquery/jquery.min.js"></script>
                <script src="../../../HighCrest_Assets/Resturant_Assets/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
                <script src="../../../HighCrest_Assets/Resturant_Assets/Assets/vendor/owl.carousel/owl.carousel.min.js"></script>
                <script src="../../../HighCrest_Assets/Resturant_Assets/Assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
                <script src="../../../HighCrest_Assets/Resturant_Assets/Assets/vendor/aos/aos.js"></script>

                <script src="../../../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
                <script src="../../../assets/vendor/venobox/venobox.min.js"></script>
                <!-- Template Main JS File -->
                <script src="../../../HighCrest_Assets/Resturant_Assets/Assets/js/main.js"></script>
</body>

</html>