<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- user defined style -->
    <link rel="stylesheet" href="../../CSS/Contact_CSS/nav.css">
    <link rel="stylesheet" href="../../CSS/Contact_CSS/about.css">
    <link rel="stylesheet" href="../../CSS/Contact_CSS/footer.css">
    <!-- ama icon bakrhenawa ka la search bar neshan dadret -->
    <link rel="icon" href="../../All Images/Contact_Images/logo.png">
    <title>About</title>
</head>

<body>

    <!-- start of the navigation  -->
    <%- include("../partials/HomePartials/Navigation.ejs")%>
        <!-- End of Navigation -->


        <!-- About Us Start -->
        <div class="section__heading">
            <h1>About Us</h1>
            <div class="line">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p> <a href="/Home">Home >></a> About </p>
        </div>



        <section class="section__about">

            <div class="nav__content">
                <span>welcome to our hotel</span>
                <h3>Lorem ipsum dolor sit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae vel sequi nostrum quae nobis non quaerat nisi voluptatibus recusandae reprehenderit tempore eligendi, eum quibusdam perferendis dicta, incidunt dolores nemo ex.
                </p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem cumque molestiae blanditiis deleniti aspernatur, ab tempora quisquam sapiente commodi hic.</p>
            </div>

        </section>

        <section class="section__gallery">

            <h1 class="section__title"> our <span>gallery</span> <a href="#">view all >></a> </h1>

            <div class="wrapper">
                <div class="gallery">
                    <div class="image"><span><img
                                src="https://images.unsplash.com/photo-1633114128729-0a8dc13406b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxzZWFyY2h8MXx8dGVhbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                                alt=""></span></div>
                    <div class="image"><span><img
                                src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dGVhbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                                alt=""></span></div>
                    <div class="image"><span><img
                                src="https://media.istockphoto.com/photos/multiracial-young-people-enjoying-group-study-at-table-picture-id1276383007?b=1&k=20&m=1276383007&s=170667a&w=0&h=pSqgVTC_bnPnKPFJkC5MCva3-LgjemWXXXbednMZXFA="
                                alt=""></span></div>
                    <div class="image"><span><img
                                src="https://images.unsplash.com/photo-1542626991-cbc4e32524cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvamVjdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                                alt=""></span></div>
                    <div class="image"><span><img
                                src="https://images.unsplash.com/photo-1586281380117-5a60ae2050cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHByb2plY3R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                                alt=""></span></div>
                    <div class="image"><span><img
                                src="https://images.unsplash.com/photo-1523289333742-be1143f6b766?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fHByb2plY3R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                                alt=""></span></div>
                </div>
            </div>
            <div class="preview-box">
                <div class="details">
                    <span class="title">Image <p class="current-img"></p> of <p class="total-img"></p></span>
                    <span class="icon fas fa-times"></span>
                </div>
                <div class="image-box">
                    <div class="slide prev"><i class="fas fa-angle-left"></i></div>
                    <div class="slide next"><i class="fas fa-angle-right"></i></div>
                    <img src="" alt="">
                </div>
            </div>
            <div class="shadow"></div>
        </section>


        <video type="video/mp4" src="../../All Images/Contact_Images/Vida (2).mp4" muted loop autoplay style="width: 100%;height:auto;top: 0; margin-top: 20rem; opacity: .8; border-radius: 90rem;border: 5px solid rgba(255, 123, 0, 0.657);"></video>
        <!-- About Us End -->

        <!-- Start Footer -->
        <%- include("../partials/HomePartials/Footer.ejs")%>
            <!-- End Footer -->

            <script src="../../javaScript/Main_Scripts/javascript_AC/nav.js"></script>
            <script src="../../javaScript/Main_Scripts/javascript_AC/scriptimageAbout.js"></script>

</body>

</html>