<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../CSS/Contact_CSS/nav.css">
    <link rel="stylesheet" href="../../CSS/Contact_CSS/contact.css">
    <link rel="stylesheet" href="../../CSS/Contact_CSS/footer.css">

    <!-- ama icon bakrhenawa ka la search bar neshan dadret -->
    <link rel="icon" href="../../ALL Images/Contact_Images/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../../CSS/Main_CSS/responsiv.css">
    <title>Contact</title>
</head>

<body>

    <!-- Navigation Start -->
    <%- include("../partials/HomePartials/Navigation.ejs") %>
        <!-- Navigation End -->

        <!-- Header Start -->
        <div class="section__heading">
            <h1>Contact us</h1>
            <div class="line">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p> <a href="/Home">Home >></a> <span>Contact</span> </p>
        </div>
        <!-- Header End -->

        <!-- Section Start -->
        <section class="section__gallery">
            <h1 class="section__title"> Contact <span>form</span>
        </section>
        <!-- Section End -->

        <!-- Contact Start -->
        <div class="contact__container">
            <div class="contact__content">
                <div class="contact__left-side">
                    <div class="contact__address contact__details">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="contact__topic">Address</div>
                        <div class="text-one">Surkhet, NP12</div>
                        <div class="text-two">Birendranagar 06</div>
                    </div>
                    <div class="phone contact__details">
                        <i class="fas fa-phone-alt"></i>
                        <div class="contact__topic">Phone</div>
                        <div class="text-one">+964 773 144 0112</div>
                        <div class="text-two">+964 750 155 4024</div>
                    </div>
                    <div class="email contact__details" style="padding-left: 74px;">
                        <i class="fas fa-envelope"></i>
                        <div class="contact__topic">Email</div>
                        <div class="text-one">codinglab@gmail.com</div>
                        <div class="text-two">info.codinglab@gmail.com</div>
                    </div>
                </div>
                <div class="right-side">
                    <div class="contact__topic-text">Send us a message</div>
                    <p>If you have any work from me or any types of quries related to my tutorial, you can send me message from here. It's my pleasure to help you.</p>
                    <form action="/Contact" method="post" >
                        <% if(user){ %>
                        <div class="input-box">
                            <input type="text" placeholder="Enter Your Name" value="<%= user.name %>" name="name">
                        </div>
                        <div class="input-box">
                            <input type="text" placeholder="Enter Your Email" id="email" value="<%= user.email %>" name="from">
                        </div>
                        <%}else{%>
                            <div class="input-box">
                                <input type="text" placeholder="Enter Your Name" name="name">
                            </div>
                            <div class="input-box">
                                <input type="text" placeholder="Enter Your Email" id="email" name="from">
                            </div>
                        <%} %>
                        <div class="input-box">
                            <input type="text" placeholder="Enter Your Subject" id="email" name="subject">
                        </div>
                        <div class="input-box message-box">
                            <textarea name="text" id="" cols="30" rows="10" placeholder="The Message Content"></textarea>
                        </div>
                        <div class="button">
                            <!-- <input type="button" value="Send Now"> -->
                            <button type="submit">Send Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Contact End -->

        <!-- Start Footer -->
        <%- include("../partials/HomePartials/Footer.ejs")%>
            <!-- End Footer -->

            <!-- <script src="../../javaScript/Main_Scripts/javascript_AC/nav.js"></script>

            <script src="https://smtpjs.com/v3/smtp.js"></script>
            <script>
                function sendEmail(){
                 Email.send({
                    Host : "smtp.gmail.com",
                    Username : "hana20muhamad21@gmail.com",
                    Password : "",
                    To : 'hana20muhamad21@gmail.com',
                    From : document.getElementById("email").Value,
                    Subject : "This is the subject",
                    Body : "And this is the body"
                }).then(
                message => alert(message)
                );
                }
            </script> -->
</body>

</html>