<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reviews</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../../CSS/Reviews_CSS/Style.css" />

    <link rel="shortcut icon" href="../../All Images/Reviews_Images/image/logo.png" type="image/png">

</head>

<body>
    <!-- Start Navigation -->
    <%- include("../partials/HomePartials/Navigation.ejs")%>
        <!-- End Navigation -->

        <!-- Section Start -->
        <main>
            <section class="section-1">
                <div class="container text-center">
                    <div class="row">

                        <div class="col-md-6 col-12">
                            <div class="pray">
                                <img src="https://images.unsplash.com/photo-1633113092754-523fd2d9a90c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxMXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" alt="Pray" class="" />
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="panel text-left">
                                <h1>Hellow , You Can See Reviews & Information..</h1>
                                <p class="pt-4">
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere iure adipisci harum ducimus accusantium, repudiandae aperiam voluptatum, id ex ratione omnis reiciendis possimus officiis.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi vitae, tenetur quidem eum aliquid vel labore sint placeat ad deserunt consectetur fugit ullam. Eius unde neque ducimus obcaecati ipsum quos vero totam recusandae hic expedita nemo sit, illum
                                    harum. Quisquam impedit ullam itaque facere et ad molestiae quod reprehenderit excepturi!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-2 container-fluid p-0">
                <div class="cover">
                    <div class="overlay"></div>
                    <div class="content text-center">
                        <h1>Other Detial Website & Team</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, eum </p>
                    </div>
                </div>
                <div class="container-fluid text-center">
                    <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
                        <div class="rect">
                            <h1>50</h1>
                            <p>Hotels</p>
                        </div>
                        <div class="rect">
                            <h1>100</h1>
                            <p>Organization</p>
                        </div>
                        <div class="rect">
                            <h1>4</h1>
                            <p>Team</p>
                        </div>
                        <div class="rect">
                            <h1>300</h1>
                            <p>Total Projects Day</p>
                        </div>
                    </div>
                </div>




                <!-- Section 4 -->
                <section class="section-4">
                    <div class="container text-center">
                        <h1 class="text-dark">Some People Talk About The Our Webiste</h1>
                        <p class="text-secondary">Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="team row ">
                        <div class="col-md-4 col-12 text-center">
                            <div class="card mr-2 d-inline-block shadow-lg">
                                <div class="card-img-top">
                                    <img src="https://images.unsplash.com/photo-1499952127939-9bbf5af6c51c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHBlcnNvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="img-fluid border-radius p-4" alt="">
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">Dr. Zahra rasuli</h3>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure autem recusandae, veniam, illo dolor soluta assumenda minima quia velit officia sit exercitationem nam ipsa, repellendus aut facilis quasi voluptas!
                                    </p>
                                    <a href="#" class="text-secondary text-decoration-none">Go somewhere</a>
                                    <p class="text-black-50">Doctor</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
                                <div class="carousel-inner text-center">
                                    <div class="carousel-item active">
                                        <div class="card mr-2 d-inline-block shadow">
                                            <div class="card-img-top">
                                                <img src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8c21pbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="img-fluid rounded-circle w-50 p-4" alt="">
                                            </div>
                                            <div class="card-body">
                                                <h3 class="card-title">Mr. Muhmamad Hiwa</h3>
                                                <p class="card-text">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure autem recusandae, veniam, illo dolor soluta assumenda minima quia velit officia sit exercitationem nam ipsa, repellendus aut facilis quasi voluptas!
                                                </p>
                                                <a href="#" class="text-secondary text-decoration-none">Go somewhere</a>
                                                <p class="text-black-50">Teacher</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="carousel-item">
                                        <div class="card  d-inline-block mr-2 shadow">
                                            <div class="card-img-top">
                                                <img src="https://media.istockphoto.com/photos/lead-yourself-to-a-life-of-success-picture-id1299077558?b=1&k=20&m=1299077558&s=170667a&w=0&h=FeXdYaxMLBwMDNso1B2vTrg4Onwy2P8NwZ9X6oZfy_M=" class="img-fluid rounded-circle w-50 p-4" alt="">
                                            </div>
                                            <div class="card-body">
                                                <h3 class="card-title">Mrs. Mzhda Muhamad</h3>
                                                <p class="card-text">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure autem recusandae, veniam, illo dolor soluta assumenda minima quia velit officia sit exercitationem nam ipsa, repellendus aut facilis quasi voluptas!
                                                </p>
                                                <a href="#" class="text-secondary text-decoration-none">Go somewhere</a>
                                                <p class="text-black-50">University Teacher</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 text-center">
                            <div class="card mr-2 d-inline-block shadow-lg">
                                <div class="card-img-top">
                                    <img src="https://media.istockphoto.com/photos/headshot-of-mature-50-years-old-asian-business-woman-on-grey-picture-id1317784594?b=1&k=20&m=1317784594&s=170667a&w=0&h=BV1ABS-tDluO-Qa0myWpstZFJd6navrs7OezTyNHnVg=" class="img-fluid border-radius p-4" alt="">
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">Mrs. Tara Ahmad</h3>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint iure autem recusandae, veniam, illo dolor soluta assumenda minima quia velit officia sit exercitationem nam ipsa, repellendus aut facilis quasi voluptas!
                                    </p>
                                    <a href="#" class="text-secondary text-decoration-none">Go somewhere</a>
                                    <p class="text-black-50">University Teacher</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </main>
        <!-- Section End -->

        <!-- Start Footer -->
        <%- include("../partials/HomePartials/Footer_review.ejs")%>
            <!-- End Footer -->

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="../../javaScript/Reviews_Scripts/main.js"></script>
            <script src="../../javaScript/Main_Scripts/javascript_AC/nav.js"></script>
</body>

</html>