<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BLOG</title>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="../CSS/HighCrest_CSS/Blog/css/all.css">
    <!-- ama icon bakrhenawa ka la search bar neshan dadret -->
    <link rel="icon" href="../All Images/HighCrest_Images/About/image/image search bar .png">
    <!-- --------- Owl-Carousel ------------------->
    <link rel="stylesheet" href="../CSS/HighCrest_CSS/Blog/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../CSS/HighCrest_CSS/Blog/css/owl.theme.default.min.css">
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- ------------ AOS Library ------------------------- -->
    <link rel="stylesheet" href="../CSS/HighCrest_CSS/Blog/css/aos.css">
    <!-- Custom Style   -->
    <link rel="stylesheet" href="../CSS/HighCrest_CSS/Blog/css/Style.css">
    <link rel="stylesheet" href="../CSS/HighCrest_CSS/Navigation/Navigation.css">
</head>