@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* the nave decoration  */
.nav__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .8rem 7%;
}

.logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #222;
}

.logo i {
  color: #ff6600c7;
  padding-right: 0.5rem;
}

.nav__navbar a {
  font-size: 1.89rem;
  color: #666;
  margin: 0 1rem;
}

.nav__navbar a:hover {
  color: #ff6600c7;
}

.nav__icons div {
  font-size: 4.3rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: #666;
}

.nav__icons div:hover {
  color: #ff6600c7;
}

.contact .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(29rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}

.contact .icons-container .nav__icons {
  text-align: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.contact .icons-container .nav__icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 5rem;
  background: #ff6600c7;
  color: #fff;
  border-radius: 50%;
}

.contact .icons-container .nav__icons h3 {
  color: #222;
  font-size: 4rem;
  padding: 1rem 0;
}

.contact .icons-container .nav__icons p {
  color: #666;
  font-size: 2.89rem;
  line-height: 2;
}

#nav__menu-btn {
  display: none;
}

.nav__search-form.nav__active {
  top: 115%;
}

.nav__search-form input {
  height: 100%;
  width: 100%;
  padding: 0 1.2rem;
  font-size: 1.4rem;
  color: #222;
  text-transform: none;
  border-radius: 2rem;
}

.nav__search-form label {
  font-size: 22px;
  font-size: 2rem;
  margin-right: 1.7rem;
  cursor: pointer;
  color: #666;
  border-radius: 2rem;
}

.nav__search-form label:hover {
  color: #ff6600c7;
}

.nav__search-form {
  position: absolute;
  top: -115%;
  right: 8rem;
  width: 32rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #fff;
}

.nav__shopping-cart {
  position: absolute;
  top: 115%;
  right: -105%;
  background: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 35rem;
  padding: 2rem;
}

.nav__shopping-cart.nav__active {
  right: 2rem;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.nav__shopping-cart .nav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.login-form .nav__box {
  margin: 0.7rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem 1.2rem;
  font-size: 3rem;
  color: #222;
  text-transform: none;
  width: 100%;
}

.section__about .nav__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
}

.section__about .nav__content span {
  color: #ff6600c7;
  font-size: 5rem;
}

.section__about .nav__content h3 {
  color: #222;
  font-size: 6rem;
  padding-top: 0.5rem;
}

.section__about .nav__content p {
  color: #666;
  font-size: 2.8rem;
  line-height: 2;
  padding: 1rem 0;
}

.info-container .info .nav__content h3 {
  font-size: 4rem;
  color: #222;
  padding-bottom: 0.5rem;
}

.info-container .info .nav__content span {
  font-size: 3rem;
  color: #666;
}

.home .slides-container .slide .nav__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  -webkit-animation: fadeLeft 0.4s linear 0.4s backwards;
  animation: fadeLeft 0.4s linear 0.4s backwards;
}

.home .slides-container .slide .nav__content span {
  color: #666;
  font-size: 5rem;
}

.home .slides-container .slide .nav__content h3 {
  font-size: 12rem;
  color: #222;
  padding: 0.5rem 0;
}

.banner-container .banner .nav__content {
  position: absolute;
  top: 50%;
  left: 2rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner-container .banner .nav__content span {
  color: #666;
  font-size: 3rem;
}

.banner-container .banner .nav__content h3 {
  font-size: 4rem;
  padding-top: 0.5rem;
  color: #222;
}

.banner-container .banner .nav__content .nav__btn {
  padding: 0.8rem 1.5rem;
}

.login-form {
  position: absolute;
  top: 115%;
  right: -105%;
  background: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 25rem;
  padding: 1rem;
}

.login-form.nav__active {
  right: 2rem;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.login-form h3 {
  color: #222;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 0.7rem;
}

.login-form .nav__btn {
  font-size: 20px;
  margin: 1rem 0;
  width: 100%;
  text-align: center;
  border-radius: 2rem;
}

.nav__btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  background: #c07804be;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.nav__btn:hover {
  background: #222;
}

/* the end of nav design */
@media (max-width: 768px) {
  .nav__navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .nav__navbar.nav__active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .nav__navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: #f3f3f3;
    font-size: 4rem;
    display: block;
    border-radius: 0.5rem;
  }

  #nav__menu-btn {
    display: inline-block;
  }

  .nav__search-form {
    width: 100%;
    right: 0;
    border-radius: 0;
  }
  .nav__search-form.nav__active {
    top: 99%;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 450px) {
  html {
    font-size: 100%;
  }
  .home .slides-container .slide .nav__content h3 {
    font-size: 10rem;
  }
}

@media (max-width: 991px) {
  .nav__container {
    padding: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 100%;
  }
  .home .slides-container .slide .nav__content h3 {
    font-size: 5rem;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }
}
