<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ama icon bakrhenawa ka la search bar neshan dadret -->
    <link rel="icon" href="../../../All Images/HighCrest_Images/Main/images/image search bar .png">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- ama bo aos -->
    <link rel="stylesheet" href="../../../CSS/HighCrest_CSS/Main/style/aos.css">
    <link rel="stylesheet" href="../../../CSS/HighCrest_CSS/Home/homeStyle.css">
    <title>HighCrest</title>

    <link rel="stylesheet" href="../../../CSS/HighCrest_CSS/Navigation/Navigation.css">
    <link rel="stylesheet" href="../../../../CSS/HighCrest_CSS/Navigation/model.css">
    <!-- ama bo about slider ka la swiper henawma   -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
</head>

<body>
    <!-- Header Section Start -->
    <%- include("../../partials/HighCrestPartials/MainPartials/Header.ejs") %>
        <!-- Header Section End -->

        <!-- Home Section Start-->
        <!-- Names Section Start -->
        <div class="home">
            <div class="container-home">
                <div class="row">
                    <div class="col">
                        <h1>HighCrest </h1>
                        <button type="button"> Show More </button>
                    </div>
                    <div class="col">
                        <div class="card card1">
                            <h2>HighCrest </h2>
                            <p>Lorem ipsum dolor sit ametibus doloribus autem repellendus tempora a mollitia, minus provident nobis iusto? Quasi, amet!</p>
                        </div>
                        <div class="card card2">
                            <h2>HighCrest Reception</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipibo ex numqus autem repellendus tempora a mollitia, minus provident nobis iusto? Quasi, amet!</p>
                        </div>
                        <div class="card card3">
                            <h2>HighCrest Room</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipiexus doloribus autem repellendus tempora a mollitia, minus provident nobis iusto? Quasi, amet!</p>
                        </div>
                        <div class="card card4">
                            <h2>HighCrest Resturant</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicexplicabo ex numquam quisquam minima. Necessitatibus doloribus autem repellendus tempora a mollitia, minus provident nobis iusto? Quasi, amet!</p>
                        </div>
                    </div>
                </div>
                <!-- Names Section End -->

                <!-- Slider Main Container Start -->
                <div class="about-hotel">
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="slide-left">
                                    <h6 class="element">01</h6>
                                    <h1 class="element">Service</h1>
                                    <p class="element">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At nulla, in reprehenderit eveniet ex blanditiis inventore! Dicta tempore nostrum, suscipit maxime quod voluptatibus, dolores, fugit maiores asperiores nemo iste pariatur.
                                    </p>
                                    <button type="button"> Read More </button>
                                </div>
                                <div class="slide-right">
                                    <img src="../../../All Images/HighCrest_Images/Main/images/service image.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slide-left">
                                    <h6 class="element">02</h6>
                                    <h1 class="element">Discount && free </h1>
                                    <p class="element">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At nulla, in reprehenderit eveniet ex blanditiis inventore! Dicta tempore nostrum, suscipit maxime quod voluptatibus, dolores, fugit maiores asperiores nemo iste pariatur.
                                    </p>
                                    <button type="button"> Read More </button>
                                </div>
                                <div class="slide-right">
                                    <img src="../../../All Images/HighCrest_Images/Main/images/free2.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slide-left">
                                    <h6 class="element">03</h6>
                                    <h1 class="element">Reception</h1>
                                    <p class="element">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At nulla, in reprehenderit eveniet ex blanditiis inventore! Dicta tempore nostrum, suscipit maxime quod voluptatibus, dolores, fugit maiores asperiores nemo iste pariatur.
                                    </p>
                                    <button type="button"> Read More </button>
                                </div>
                                <div class="slide-right">
                                    <img src="../../../All Images/HighCrest_Images/Main/images/highcrest reception.jpg" alt="">
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
                <!-- Slider Main Container End -->

                <!-- Blog Start -->
                <div class="about-container">
                    <div class="about">
                        <div class="about-image">
                            <img src="../../../All Images/HighCrest_Images/Main/images/birthday.jpg" alt="">
                        </div>
                        <div class="about-text">
                            <h3>Birthday Event</h3>
                            <ul>
                                <li>
                                    <i class="fas fa-arrow-alt-circle-right"></i> lorem ipisum dolor sit swit
                                </li>
                                <li>
                                    <i class="fas fa-arrow-alt-circle-right"></i> lorem ipisum dolor sit swit
                                </li>
                                <li>
                                    <i class="fas fa-arrow-alt-circle-right"></i> lorem ipisum dolor sit swit
                                </li>
                            </ul>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis molestiae esse quaerat at facilis officia? Voluptas consequatur obcaecati, eius iusto corrupti temporibus sit assumenda magnam. Ipsa quo voluptatum tempore
                                dolorem!
                            </p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis molestiae esse quaerat at facilis officia? Voluptas consequatur obcaecati, eius iusto corrupti temporibus sit assumenda magnam. Ipsa quo voluptatum tempore
                                dolorem!
                            </p>
                            <p class="rate">
                                <span>$444/</span>Bithday
                            </p>
                            <button type="button"> Show More </button>
                        </div>
                    </div>
                    <div class="about">
                        <div class="about-image">
                            <img width="100%" src="../../../All Images/HighCrest_Images/Main/images/metting.jpg" alt="">
                        </div>
                        <div class="about-text">
                            <h3>Confrance</h3>
                            <ul>
                                <li>
                                    <i class="fas fa-arrow-alt-circle-right"></i> lorem ipisum dolor sit swit
                                </li>
                                <li>
                                    <i class="fas fa-arrow-alt-circle-right"></i> lorem ipisum dolor sit swit
                                </li>
                                <li>
                                    <i class="fas fa-arrow-alt-circle-right"></i> lorem ipisum dolor sit swit
                                </li>
                            </ul>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis molestiae esse quaerat at facilis officia? Voluptas consequatur obcaecati, eius iusto corrupti temporibus sit assumenda magnam. Ipsa quo voluptatum tempore
                                dolorem!
                            </p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis molestiae esse quaerat at facilis officia? Voluptas consequatur obcaecati, eius iusto corrupti temporibus sit assumenda magnam. Ipsa quo voluptatum tempore
                                dolorem!
                            </p>
                            <p class="rate">
                                <span>$744.44/</span>For Confrance
                            </p>
                            <button type="button"> Show More </button>
                        </div>
                    </div>
                    <div class="about">
                        <div class="about-image">
                            <img src="../../../All Images/HighCrest_Images/Main/images/wedding.jpg" alt="">
                        </div>
                        <div class="about-text">
                            <h3>Weddings</h3>
                            <ul>
                                <li>
                                    <i class="fas fa-arrow-alt-circle-right"></i> lorem ipisum dolor sit swit
                                </li>
                                <li>
                                    <i class="fas fa-arrow-alt-circle-right"></i> lorem ipisum dolor sit swit
                                </li>
                                <li>
                                    <i class="fas fa-arrow-alt-circle-right"></i> lorem ipisum dolor sit swit
                                </li>
                            </ul>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis molestiae esse quaerat at facilis officia? Voluptas consequatur obcaecati, eius iusto corrupti temporibus sit assumenda magnam. Ipsa quo voluptatum tempore
                                dolorem!
                            </p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis molestiae esse quaerat at facilis officia? Voluptas consequatur obcaecati, eius iusto corrupti temporibus sit assumenda magnam. Ipsa quo voluptatum tempore
                                dolorem!
                            </p>
                            <p class="rate">
                                <span>$944.44/</span>For Weddings
                            </p>
                            <button type="button"> Show More </button>
                        </div>
                    </div>
                </div>
                <!-- Blog End -->

                <!-- Review Start -->
                <div class="wrapper">
                    <div class="testimonials">
                        <div class="title">
                            <h2>Client <span></span></h2>
                            <h3>Our Clients</h3>
                        </div>
                        <div class="content">
                            <div class="clients-list">
                                <div class="clients-tabs">
                                    <!-- item -->
                                    <div class="client-item">
                                        <div class="client-thumbnail">
                                            <img src="https://images.pexels.com/photos/3756678/pexels-photo-3756678.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                                        </div>
                                        <div class="client-intro">
                                            <h5 class="client-name">Azad </h5>
                                            <small class="client-designation" style="font-weight: bolder;font-size: 1.1rem;">Old
                                                person</small>
                                            <p class="client-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem error vel quia a repellat quasi facere velit. Amet corrupti doloremque earum, molestias ratione delectus accusamus beatae culpa sint, necessitatibus
                                                dolorum. Ea, atque maiores dolorum obcaecati consectetur nam maxime id voluptas.
                                            </p>
                                        </div>
                                    </div>
                                    <!-- end of item  -->

                                    <!-- item -->
                                    <div class="client-item">
                                        <div class="client-thumbnail">
                                            <img src="https://images.pexels.com/photos/3783348/pexels-photo-3783348.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                                        </div>
                                        <div class="client-intro">
                                            <h5 class="client-name">Akar Ahmad</h5>
                                            <small class="client-designation">Business Man </small>
                                            <p class="client-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, aliquam? Enim corporis sed nam molestias sunt aliquid iusto aperiam impedit! Enim facere doloremque maiores vitae quod ratione quos. Minima pariatur
                                                cupiditate blanditiis facere expedita nesciunt ullam nulla, tempore explicabo nihil cumque tempora in delectus dolore.</p>
                                        </div>
                                    </div>
                                    <!-- end of item  -->

                                    <!-- item -->
                                    <div class="client-item">
                                        <div class="client-thumbnail">
                                            <img src="https://images.pexels.com/photos/935743/pexels-photo-935743.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                                        </div>
                                        <div class="client-intro">
                                            <h5 class="client-name">Sara Ahmad</h5>
                                            <small class="client-designation"> Business Woman </small>
                                            <p class="client-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repellat sed, eligendi molestiae nulla dolore, ea pariatur est quidem possimus quod quibusdam repellendus nemo amet similique voluptates quis molestias
                                                reprehenderit optio fugit! Laudantium ipsam, aliquam necessitatibus, laborum modi cumque est illo eveniet veritatis sequi iure assumenda facere doloribus natus accusantium.</p>
                                        </div>
                                    </div>
                                    <!-- end of item  -->
                                </div>
                            </div>

                            <div class="show-info">
                                <div class="show-img">
                                    <img src="" alt="client image">
                                </div>
                                <div class="show-text">
                                    <div>
                                        <h4 class="show-name"> </h4>
                                        <small class="show-designation"> </small>
                                    </div>
                                    <p class="show-description"></p>
                                    <a href="#"> Rigister now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Review End -->

                <!-- Footer Section Start  -->
                <%- include("../../partials/HighCrestPartials/MainPartials/Footer.ejs") %>
                    <!-- Footer Section End  -->

                    <!-- Scripts -->
                    <script>
                        var bar = document.getElementById("bars");
                        var navbar = document.getElementById("navbar");

                        bar.addEventListener('click', () => {
                            bar.classList.toggle('bars_mardinn');
                            navbar.classList.toggle('display');
                        })
                    </script>

                    <!-- amayan bo jquery bakare dahene about  -->
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>


                    <script src="../../../javaScript/HighCrest_Scripts/Main/Javascript/aos.js"></script>
                    <!-- amash bo jsy swpiper y about   -->
                    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

                    <script src="../../../javaScript/HighCrest_Scripts/Main/Javascript/home js.js"></script>
</body>

</html>