<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event And Gallery</title>
    <link rel="stylesheet" href="../../../CSS/HighCrest_CSS/Events/pagecss.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <!-- ama bo image gallery -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap" rel="stylesheet" />
    <!-- ama icon bakrhenawa ka la search bar neshan dadret -->
    <link rel="icon" href="../../../All Images/HighCrest_Images/Events/image/image search bar .png">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Vendor CSS Files -->
    <link href="../../../HighCrest_Assets/Events_Assets/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../HighCrest_Assets/Events_Assets/Assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="../../../HighCrest_Assets/Events_Assets/Assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="../../../HighCrest_Assets/Events_Assets/Assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../../assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="../../../HighCrest_Assets/Events_Assets/Assets/vendor/aos/aos.css" rel="stylesheet">
    <!-- Navigation CSS -->
    <link rel="stylesheet" href="../../../CSS/HighCrest_CSS/Events/nav.css">
    <link rel="stylesheet" href="../../../../CSS/HighCrest_CSS/Navigation/model.css">
</head>

<body>
    <!-- Header Section Start -->
    <%- include("../../../partials/HighCrestPartials/MainPartials/Header.ejs") %>
        <!-- Header Section End -->

        <!-- ======= Hero Section ======= -->
        <section id="hero" class="d-flex align-items-center">
            <div class="container  ">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 style="font-size: 6rem;     font-family: 'Noto serif','serif';">Event</h1>
                        <div class="line">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <p class="returnhome"><a href="/HighCrest" style="text-decoration: none; font-size: 3.1rem; color: #ffa600ea;" class="returnh ">Home >>
                            </a>Events
                        </p>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Hero -->

        <!-- Section Events Start -->
        <section class="event">
            <div class="leftBox">
                <div class="content">
                    <h1>Event And Live Music</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ut inventore eos cum illo quae officiis quidem expe est impedit mollitia ea? Quam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, fugit ab debitis quia
                        aliquam aut repellendus vero, nisi nemo itaque, eum ipsam iure quidem possimus? Beatae architecto eum voluptas Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae labore eos, quasi voluptatem explicabo reiciendis. Velit
                        magni voluptate impedit laboriosam atque voluptatum odio, minima neque, exercitationem nobis consequuntur? Nemo, iure? accusantium.</p>
                </div>
            </div>
            <div class="live-music">
                <ul>
                    <li>
                        <div class="time">
                            <h2>24 <br><span>Nov</span></h2>
                        </div>
                        <div class="details">
                            <h3>Live Music 1</h3>
                            <p>Lorem ipsum dolo etur, t amet consectetur adipisicing elit. Vitae labore eos, quasi voluptatem explicabo reiciendis. Velit magni voluptate impedit laboriosam atque voluptatum odio, minima neque, exercitationem nobis consequuntur?
                                Nemo, iure? accusantium.</p>
                            <a href=""> More</a>
                        </div>
                        <div class="" style="clear: both;"></div>
                    </li>
                    <li>
                        <div class="time">
                            <h2>27<br><span>Nov</span></h2>
                        </div>
                        <div class="details">
                            <h3>Live Music 2</h3>
                            <p>Lorem ipsum dolo etur, t amet consectetur adipisicing elit. Vitae labore eos, quasi voluptatem explicabo reiciendis. Velit magni voluptate impedit laboriosam atque voluptatum odio, minima neque, exercitationem nobis consequuntur?
                                Nemo, iure? accusantium.</p>
                            <a href=""> More</a>
                        </div>
                        <div class="" style="clear: both;"></div>
                    </li>
                    <li>
                        <div class="time">
                            <h2>28 <br><span>Nov</span></h2>
                        </div>
                        <div class="details">
                            <h3>Live Music 3</h3>
                            <p>Lorem ipsum dolo etur, t amet consectetur adipisicing elit. Vitae labore eos, quasi voluptatem explicabo reiciendis. Velit magni voluptate impedit laboriosam atque voluptatum odio, minima neque, exercitationem nobis consequuntur?
                                Nemo, iure? accusantium.</p>
                            <a href=""> More</a>
                        </div>
                        <div class="" style="clear: both;"></div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Section Events End -->

        <!-- Section Gallery Start -->
        <section class="Galery">
            <h6>Events</h6>
            <section class="image-gallery">

                <div class="image-box">
                    <img src="https://d1zpvjny0s6omk.cloudfront.net/media/fileupload/2017/09/22/Bakti-Kavoukjian-Jessica%20Claire%20Photography-balloroom.jpg" alt="img.jpg" />
                    <div class="image-gallery-details">
                        <div class="details">
                            <h3 class="title">
                                <a href="#" style="font-size: 3.1rem;">Weddings</a>
                            </h3>
                            <span class="type">
                                <a href="#" style="font-size: 2.1rem;">Events</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="image-box">
                    <img src="https://cfcdn-fc.mineralreportstoday.com/wp-content/uploads/sites/53/2021/04/Pullman-Bangkok-Kingpower-Hybrid-Meeting-1920.jpg" alt="img.jpg" />
                    <div class="image-gallery-details">
                        <div class="details">
                            <h3 class="title">
                                <a href="#" style="font-size: 3.1rem;">conference</a>
                            </h3>
                            <span class="type">
                                <a href="#" style="font-size: 2.1rem;">Events</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="image-box">
                    <img src="https://traveljee.com/wp-content/uploads/2019/11/prague-marriott-hotel-new-year-decorations1.jpg" alt="img.jpg" />
                    <div class="image-gallery-details">
                        <div class="details">
                            <h3 class="title">
                                <a href="#" style="font-size: 3.1rem;">New Years</a>
                            </h3>
                            <span class="type">
                                <a href="#" style="font-size: 2.1rem;">Events</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="image-box">
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/0e/ce/02/ff/live-music-at-the-corner.jpg" alt="img.jpg" />
                    <div class="image-gallery-details">
                        <div class="details">
                            <h3 class="title">
                                <a href="#" style="font-size: 3.1rem;">Live Music</a>
                            </h3>
                            <span class="type">
                                <a href="#" style="font-size: 2.1rem;">Events</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="image-box">
                    <img src="https://www.todaysparent.com/wp-content/uploads/2017/09/fun-ways-to-teach-kids-to-tell-time-1280x960.jpg" alt="img.jpg" />
                    <div class="image-gallery-details">
                        <div class="details">
                            <h3 class="title">
                                <a href="# " style="font-size: 3.1rem;">Child Time</a>
                            </h3>
                            <span class="type">
                                <a href="#" style="font-size: 2.1rem;">Events</a>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="image-box">
                    <img src="http://www.punchbowl.com/gridfs/fs/4f5f62591a349e14700007cf-1331651163" alt="img.jpg" />
                    <div class="image-gallery-details">
                        <div class="details">
                            <h3 class="title">
                                <a href="# " style="font-size: 3.1rem;">Charity</a>
                            </h3>
                            <span class="type">
                                <a href="#" style="font-size: 2.1rem;">Events</a>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="image-box">
                    <img src="https://images.squarespace-cdn.com/content/v1/56a2785c69a91af45e06a188/1477942884411-LKP0Y83RJH7M6SX2R1ID/AdobeStock_113497184.jpeg?format=1500w" alt="img.jpg" />
                    <div class="image-gallery-details">
                        <div class="details">
                            <h3 class="title">
                                <a href="# " style="font-size: 3.1rem;">Resutrant </a>
                            </h3>
                            <span class="type">
                                <a href="#" style="font-size: 2.1rem;">Events</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="image-box">
                    <img src="https://www.yorkhotel.com.sg/uploads/9/8/1/8/98182264/accomplishment-celebrate-ceremony-267885_orig.jpg" alt="img.jpg" />
                    <div class="image-gallery-details">
                        <div class="details">
                            <h3 class="title">
                                <a href="# " style="font-size: 3.1rem;">Graduation</a>
                            </h3>
                            <span class="type">
                                <a href="#" style="font-size: 2.1rem;">Events</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="image-box">
                    <img src="https://evergreengroup.in/wp-content/uploads/2017/07/Arya-Gurukul-School-Annual-Day-14-1024x516.jpg" alt="img.jpg" />
                    <div class="image-gallery-details">
                        <div class="details">
                            <h3 class="title">
                                <a href="# " style="font-size: 3.1rem;">School</a>
                            </h3>
                            <span class="type">
                                <a href="#" style="font-size: 2.1rem;">Events</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="image-box">
                    <img src="https://www.thebalancesmb.com/thmb/hsCwQVP8CcIvRAfKCMLiq8LTDNI=/1116x837/smart/filters:no_upscale()/GettyImages-530685909-56a2b3725f9b58b7d0cd87c6.jpg" alt="img.jpg" />
                    <div class="image-gallery-details">
                        <div class="details">
                            <h3 class="title">
                                <a href="# " style="font-size: 3.1rem;">Seminar</a>
                            </h3>
                            <span class="type">
                                <a href="#" style="font-size: 2.1rem;">Events</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="image-box">
                    <img src="https://images.squarespace-cdn.com/content/v1/5aadc54285ede1bd72181a3a/1521392755297-Q04UOI02AXZ167LQXA0O/Omega+Events+Concert+Promotion.jpg" alt="img.jpg" />
                    <div class="image-gallery-details">
                        <div class="details">
                            <h3 class="title">
                                <a href="# " style="font-size: 3.1rem;">Concert</a>
                            </h3>
                            <span class="type">
                                <a href="#" style="font-size: 2.1rem;">Events</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="image-box">
                    <img src="https://www.sixteen-nine.net/wp-content/uploads/2021/08/umusic-biloxi.jpeg" alt="img.jpg" />
                    <div class="image-gallery-details">
                        <div class="details">
                            <h3 class="title">
                                <a href="# " style="font-size: 3.1rem;">Concert</a>
                            </h3>
                            <span class="type">
                                <a href="#" style="font-size: 2.1rem;">Events</a>
                            </span>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!-- Section Gallery End -->

        <!-- Section Seminar Start -->
        <section class="seminar">
            <h6>Upcaming Seminar</h6>
            <div class="event">
                <div class="header--text">
                </div>
                <div class="event--section">
                    <div class="event--content">
                        <div class="event--img">
                            <img src="https://upload.wikimedia.org/wikipedia/en/9/95/Dominic_Meily%2C_Street_Photography_seminar.jpg" alt="event photo">
                        </div>
                        <div class="content--text">
                            <div class="event--menu">
                                <h4> 19 Nov </h4>
                                <ul class="event--detail">
                                    <li> <i class="fa fa-clock-o" aria-hidden="true"></i> <span> 12.00PM - 12.30PM
                                        </span></li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i><span> HighCrest </span></li>
                                </ul>
                            </div>
                            <div class="event--text">
                                <h4> Love YourSelfe </h4>
                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, hic ullam, dicta eaque perspiciatis minima officiis
                                </p>
                            </div>
                            <div class="btn">
                                <a href="#"> View Details </a>
                            </div>
                        </div>
                    </div>
                    <div class="event--content">
                        <div class="event--img">
                            <img src="https://images.unsplash.com/photo-1575029644286-efb9039cac46?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHNlbWluYXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80" alt="event photo">
                        </div>
                        <div class="content--text">
                            <div class="event--menu">
                                <h4> 20 Nov </h4>
                                <ul class="event--detail">
                                    <li> <i class="fa fa-clock-o" aria-hidden="true"></i> <span> 2.00PM - 2.30PM </span>
                                    </li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i><span> HighCrest</span></li>
                                </ul>
                            </div>
                            <div class="event--text">
                                <h4> Motivating Student </h4>
                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, hic ullam, dicta eaque perspiciatis minima officiis
                                </p>
                            </div>
                            <div class="btn">
                                <a href="#"> View Details </a>
                            </div>
                        </div>
                    </div>
                    <div class="event--content">
                        <div class="event--img">
                            <img src="https://images.unsplash.com/photo-1575029644286-efb9039cac46?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHNlbWluYXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80" alt="event photo">
                        </div>
                        <div class="content--text">
                            <div class="event--menu">
                                <h4> 22 Nov </h4>
                                <ul class="event--detail">
                                    <li> <i class="fa fa-clock-o" aria-hidden="true"></i> <span> 2.00PM - 2.30PM </span>
                                    </li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i><span> HighCrest</span></li>
                                </ul>
                            </div>
                            <div class="event--text">
                                <h4> Motivating Young </h4>
                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, hic ullam, dicta eaque perspiciatis minima officiis
                                </p>
                            </div>
                            <div class="btn">
                                <a href="#"> View Details </a>
                            </div>
                        </div>
                    </div>
                    <div class="event--content">
                        <div class="event--img">
                            <img src="https://images.unsplash.com/photo-1575029644286-efb9039cac46?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHNlbWluYXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80" alt="event photo">
                        </div>
                        <div class="content--text">
                            <div class="event--menu">
                                <h4> 25 Nov </h4>
                                <ul class="event--detail">
                                    <li> <i class="fa fa-clock-o" aria-hidden="true"></i> <span> 2.00PM - 2.30PM </span>
                                    </li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i><span> HighCrest</span></li>
                                </ul>
                            </div>
                            <div class="event--text">
                                <h4> Charity </h4>
                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, hic ullam, dicta eaque perspiciatis minima officiis
                                </p>
                            </div>
                            <div class="btn">
                                <a href="#"> View Details </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Seminar End -->

        <!-- Footer Section Start  -->
        <%- include("../../../partials/HighCrestPartials/MainPartials/Footer.ejs") %>
            <!-- Footer Section End  -->

            <!-- Scripts -->
            <!-- jquery bo slider image bakr dahenen -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="../../../javaScript/HighCrest_Scripts/Rooms/pagejs.js"></script>
            <script src="../../../javaScript/HighCrest_Scripts/Navigation/Navigation.js"></script>
</body>

</html>