<section id="blog">
    <div class="container">
        <div class="row">
            <h1> ALL <span>ROOM</span></h1>
            <div class="col-md-6 left">
                <img src="../All Images/HighCrest_Images/AllRooms/images/highcrest room.jpg" class="img-fluid"
                    alt="blog left">
                <div class="info-area">
                    <h4>Room HighCrest / SELEMANI</h4>
                    <p id="price-room">$30.00 / Per Night</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores itaque dicta eligendi iure
                        maiores
                        omnis velit quis. Quas accusamus, nostrum soluta id natus ad dolores facere inventore provident
                        quidem
                        est.
                        <br><i class="fas fa-toilet-paper" id="icon-room"></i><i class="fas fa-concierge-bell"
                            id="icon-room"></i><i class="fas fa-bath" id="icon-room"></i><i class="fas fa-smoking-ban"
                            id="icon-room"></i><i class="fas fa-swimming-pool" id="icon-room"></i>
                    </p>
                    <a href="/HighCrest/Room" target="_blank">View Room</a>
                </div>
            </div>
            <div class="col-md-6 right ">
                <img src="../All Images/HighCrest_Images/AllRooms/images/room2.jpg" class="img-fluid" alt="blog right">
                <div class="info-area">
                    <h4>Room HighCrest / SELEMANI</h4>
                    <p id="price-room">$30.00 / Per Night</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores itaque dicta eligendi iure
                        maiores
                        omnis velit quis. Quas accusamus, nostrum soluta id natus ad dolores facere inventore provident
                        quidem
                        est.
                        <br><i class="fas fa-toilet-paper" id="icon-room"></i><i class="fas fa-concierge-bell"
                            id="icon-room"></i><i class="fas fa-bath" id="icon-room"></i><i class="fas fa-smoking-ban"
                            id="icon-room"></i><i class="fas fa-swimming-pool" id="icon-room"></i>
                    </p>
                    <a href="/HighCrest/Room" target="_blank">View Room</a>
                </div>
            </div>
            <div class="col-md-6 left">
                <img src="../All Images/HighCrest_Images/AllRooms/images/highcrest room.jpg" class="img-fluid"
                    alt="blog left">
                <div class="info-area">
                    <h4>Room HighCrest / SELEMANI</h4>
                    <p id="price-room">$30.00 / Per Night</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores itaque dicta eligendi iure
                        maiores
                        omnis velit quis. Quas accusamus, nostrum soluta id natus ad dolores facere inventore provident
                        quidem
                        est.
                        <br><i class="fas fa-toilet-paper" id="icon-room"></i><i class="fas fa-concierge-bell"
                            id="icon-room"></i><i class="fas fa-bath" id="icon-room"></i><i class="fas fa-smoking-ban"
                            id="icon-room"></i><i class="fas fa-swimming-pool" id="icon-room"></i>
                    </p>
                    <a href="/HighCrest/Room" target="_blank">View Room</a>
                </div>
            </div>
            <div class="col-md-6 right">
                <img src="../All Images/HighCrest_Images/AllRooms/images/room2.jpg" class="img-fluid" alt="blog right">
                <div class="info-area">
                    <h4>Room HighCrest / SELEMANI</h4>
                    <p id="price-room">$30.00 / Per Night</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores itaque dicta eligendi iure
                        maiores
                        omnis velit quis. Quas accusamus, nostrum soluta id natus ad dolores facere inventore provident
                        quidem
                        est.
                        <br><i class="fas fa-toilet-paper" id="icon-room"></i><i class="fas fa-concierge-bell"
                            id="icon-room"></i><i class="fas fa-bath" id="icon-room"></i><i class="fas fa-smoking-ban"
                            id="icon-room"></i><i class="fas fa-swimming-pool" id="icon-room"></i>
                    </p>
                    <a href="/HighCrest/Room" target="_blank">View Room</a>
                </div>
            </div>
            <div class="col-md-6 left">
                <img src="../All Images/HighCrest_Images/AllRooms/images/highcrest room.jpg" class="img-fluid"
                    alt="blog left">
                <div class="info-area">
                    <h4>Room HighCrest / SELEMANI</h4>
                    <p id="price-room">$30.00 / Per Night</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores itaque dicta eligendi iure
                        maiores
                        omnis velit quis. Quas accusamus, nostrum soluta id natus ad dolores facere inventore provident
                        quidem
                        est.
                        <br><i class="fas fa-toilet-paper" id="icon-room"></i><i class="fas fa-concierge-bell"
                            id="icon-room"></i><i class="fas fa-bath" id="icon-room"></i><i class="fas fa-smoking-ban"
                            id="icon-room"></i><i class="fas fa-swimming-pool" id="icon-room"></i>
                    </p>
                    <a href="/HighCrest/Room" target="_blank">View Room</a>
                </div>
            </div>
            <div class="col-md-6 right">
                <img src="../All Images/HighCrest_Images/AllRooms/images/room2.jpg" class="img-fluid" alt="blog right">
                <div class="info-area">
                    <h4>Room HighCrest / SELEMANI</h4>
                    <p id="price-room">$30.00 / Per Night</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores itaque dicta eligendi iure
                        maiores
                        omnis velit quis. Quas accusamus, nostrum soluta id natus ad dolores facere inventore provident
                        quidem
                        est.
                        <br><i class="fas fa-toilet-paper" id="icon-room"></i><i class="fas fa-concierge-bell"
                            id="icon-room"></i><i class="fas fa-bath" id="icon-room"></i><i class="fas fa-smoking-ban"
                            id="icon-room"></i><i class="fas fa-swimming-pool" id="icon-room"></i>
                    </p>
                    <a href="/HighCrest/Room" target="_blank">View Room</a>
                </div>
            </div>
        </div>
    </div>
</section>