<section id="download">
    <!-- lera bas amlay lay right ka click krda sare datwane fill bgret bo aw rengay ka atawe  -->
    <div class="component"><img src="../All Images/HighCrest_Images/AllRooms/images/images/component.svg"
            alt="Component">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 textDownload">
                <h1><span style="font-size: 2.1rem; color: black;">Download</span> Our App For Booking Room <br>
                    and get the News</h1>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    ut aliquam, purus sit amet luctus venenatis, lectus magna
                </p>
                <a href=""><img src="../All Images/HighCrest_Images/AllRooms/images/icons/android.svg"
                        class="img-fluid android" alt="Android"></a>

                <a href=""><img src="../All Images/HighCrest_Images/AllRooms/images/icons/apple.svg"
                        class="img-fluid apple" alt="Apple"></a>

            </div>
            <div class="col-md-5 imageDownload">
                <img class="mockup" src="https://cdn-icons-png.flaticon.com/512/2038/2038035.png" height="40%"
                    class="img-fluid" alt="mockup">
                <h1>GET 10% OFF <br>
                    FOR EVERY <br>
                    Booking!</h1>
            </div>
        </div>
    </div>
</section>