<section id="hero" class="d-flex align-items-center">
    <div class="container  ">
        <div class="row">
            <div class="col-lg-12 room-desgin">
                <h1 style="font-size: 5rem; margin-left: 28rem;font-family: 'Roboto Slab', serif;">ROOMS</h1>
                <div class="line">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <p class="returnhome" style="font-family: 'Roboto Slab', serif;"><a href="/HighCrest"
                        style="text-decoration: none; font-size: 3.9rem;font-family: 'Roboto Slab', serif; color: rgba(250, 125, 0, 0.856);">Home
                        >> </a>ROOMS</p>
            </div>
        </div>
    </div>
</section>