<section id="featured-rooms">
    <div class="container my-5 py-5">
        <div id="section-title">
            <h2 style="margin-top: 10rem;margin-bottom: 5rem;font-size: 3.1rem;font-family: 'Roboto Slab', serif;">
                Best
                Place To Stay </h2>
        </div>
        <div class="row custom-room-cards">
            <div class="col col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img src="../All Images/HighCrest_Images/AllRooms/images/room cover1.jpg" alt="Family Room">
                    </div>
                    <div class="card-footer">
                        <div class="label" style="font-size: 2.1rem;font-family: Lobster, cursive; ">Price</div>
                        <div class="price" style="font-size: 2.1rem;background-color: rgba(240, 248, 255, 0.548);    color: rgb(145, 23, 23);
                font-family: Lobster, cursive; ">&nbsp;$60/day</div>
                        <div class="footer-body"
                            style="font-size: 2.1rem; background-color: rgba(240, 248, 255, 0.548);font-family: Lobster, cursive;">
                            Family Room</div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img src="../All Images/HighCrest_Images/AllRooms/images/room2.jpg" alt="Young Room">
                    </div>
                    <div class="card-footer">
                        <div class="label" style="font-size: 2.1rem;font-family: Lobster, cursive; ">Price</div>
                        <div class="price" style="font-size: 2.1rem;background-color: rgba(240, 248, 255, 0.548);    color: rgb(145, 23, 23);
              font-family: Lobster, cursive; ">&nbsp;$60/day</div>
                        <div class="footer-body"
                            style="font-size: 2.1rem; background-color: rgba(240, 248, 255, 0.548);font-family: Lobster, cursive;">
                            Young Room</div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img src="../All Images/HighCrest_Images/AllRooms/images/highcrest room.jpg"
                            alt="HighCrest Room">
                    </div>
                    <div class="card-footer">
                        <div class="card-footer">
                            <div class="label" style="font-size: 2.1rem;font-family: Lobster, cursive; ">Price</div>
                            <div class="price" style="font-size: 2.1rem;background-color: rgba(240, 248, 255, 0.548);    color: rgb(145, 23, 23);
                font-family: Lobster, cursive; ">&nbsp;$60/day</div>
                            <div class="footer-body"
                                style="font-size: 2.1rem; background-color: rgba(240, 248, 255, 0.548);font-family: Lobster, cursive;">
                                VIP Room</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img src="../All Images/HighCrest_Images/AllRooms/images/child room.jpg" alt="Child Room">
                    </div>
                    <div class="card-footer">
                        <div class="card-footer">
                            <div class="label" style="font-size: 2.1rem;font-family: Lobster, cursive; ">Price</div>
                            <div class="price" style="font-size: 2.1rem;background-color: rgba(240, 248, 255, 0.548);    color: rgb(145, 23, 23);
                font-family: Lobster, cursive; ">&nbsp;$60/day</div>
                            <div class="footer-body"
                                style="font-size: 2.1rem; background-color: rgba(240, 248, 255, 0.548);font-family: Lobster, cursive;">
                                Child Room</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Slider Main Container Middle -->

<section id="decoration-accomodation">
    <div class="container my-5 py-5">
        <div class="row">
            <div class="col-md-5">
                <div class="content">
                    <div class="section-title">
                        <h2>Choose The Perfect Place For Your Bussiness</h2>
                    </div>
                    <p><br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus cupiditate,
                        ratione, neque error vero sed earum molestias magni nisi culpa obcaecati cum accusantium
                        repudiandae itaque dolores vitae excepturi officia nihil.
                    </p>
                </div>
            </div>
            <div class="col-md-7 card-container">
                <div class="card">
                    <div class="card-body">
                        <img src="../All Images/HighCrest_Images/AllRooms/images/metingRoom3.png" alt="Meeting Room">
                    </div>
                    <div class="card-footer">Meeting Room</div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img src="../All Images/HighCrest_Images/AllRooms/images/confrance.jpg" alt="Conference Room">
                    </div>
                    <div class="card-footer">Conference Room</div>
                </div>
            </div>
        </div>
    </div>
</section>