<section class="contact-section">
    <div class="contact-bg">
        <h3>Get in Touch with Us</h3>
        <h2>Contact Us</h2>
        <div class="line">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda iste facilis quos impedit
            fuga
            nobis modi debitis laboriosam velit reiciendis quisquam alias corporis, maxime enim, optio ab dolorum sequi
            qui.
        </p>
    </div>
    <div class="contact-body">
        <div class="contact-info">
            <div>
                <span><i class="fas fa-mobile-alt"></i></span>
                <span>Phone No.</span>
                <span class="text">0770 390 9090</span>
            </div>
            <div>
                <span><i class="fas fa-envelope-open-text"></i></span>
                <span>E-mail</span>
                <span class="text">mail@company.com</span>
            </div>
            <div>
                <span><i class="fas fa-map-marker-alt"></i></span>
                <span>Address</span>
                <span class="text">Kurditan , Slemani , HighCrest , Raparin Street</span>
            </div>
            <div>
                <span><i class="fas fa-clock"></i></span>
                <span>Opening Hours</span>
                <span class="text">24 / 7</span>
            </div>
        </div>
        <div class="contact-form">
            <form>
                <div>
                    <input type="text" class="form-control" placeholder="First Name">
                    <input type="text" class="form-control" placeholder="Last Name">
                </div>
                <div>
                    <input type="email" class="form-control" placeholder="E-mail">
                    <input type="text" class="form-control" placeholder="Phone">
                </div>
                <textarea rows="5" placeholder="Message" class="form-control"></textarea>
                <input type="submit" class="send-btn" value="send message">
            </form>
            <div>
                <img src="../All Images/HighCrest_Images/Contact/image/answer.png" alt="Answer">
            </div>
        </div>
    </div>
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3245.5422083567178!2d45.36657605062364!3d35.56500674384803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40002e3e96d2ee93%3A0xbb12204f2eb2b2b1!2sHigh%20Crest!5e0!3m2!1sen!2siq!4v1636191228892!5m2!1sen!2siq"
            width="1499" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</section>