<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- user defined style -->
    <link rel="stylesheet" href="CSS/Contact_CSS/nav.css">
    <link rel="stylesheet" href="CSS/Contact_CSS/about.css">
    <link rel="stylesheet" href="CSS/Contact_CSS/footer.css">
    <!-- ama icon bakrhenawa ka la search bar neshan dadret -->
    <link rel="icon" href="All Images/Contact_Images/logo.png">
    <title>About</title>
</head>